---
swagger: "2.0"
info:
  description: "API to retrieve and update Business Rules, Preservation Actions etc\
    \ from a Preservation Action Registries compliant endpoint"
  version: "1.1"
  title: "PAR API"
host: "parcore.org"
basePath: "/par"
tags:
- name: "/business-rules"
  description: "Requests relating to PAR Business Rule entities"
- name: "/preservation-actions"
  description: "Endpoints relating to PAR Preservation Action entities"
- name: "/tools"
  description: "Endpoints relating to PAR Tool entities"
- name: "/file-formats"
  description: "Endpoints relating to PAR File Format entities."
- name: "/representation-formats"
  description: "Endpoints relating to PAR Representation Format entities"
- name: "/properties"
  description: "Endpoints relating to PAR Property entities"
- name: "/preservation-action-types"
  description: "Endpoints relating to PAR Preservation Action Type Type entities"
- name: "/format-families"
  description: "Endpoints relating to PAR Format Family entities"
schemes:
- "https"
paths:
  /business-rules:
    get:
      tags:
      - "/business-rules"
      summary: "Get Business Rules"
      description: "Returns an array of Business Rules that match all of the filter\
        \ conditions supplied. Any number of fitlers can be used together.\nThe date\
        \ filters should be supplied as ISO-8601 date times or dates, i.e. yyyy-MM-ddThh:mm:ss.SZ\
        \ or yyyy-MM-dd.\nIf no time information is supplied, then 00:00:00 in UTC\
        \ will be assumed. This means that if you supply modified-after and modified-before\
        \ dates of 2019-01-01 and 2019-12-31, you will not match any Business Rules\
        \ modified during the day of 31st December."
      operationId: "business_rules_get"
      consumes: []
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "preservation_action_guid"
        in: "header"
        description: "A comma separated list of GUIDs of Preservation Actions. This\
          \ filter matches only those Business Rules whose purpose is to perform one\
          \ of the listed actions."
        required: false
        type: "string"
      - name: "preservation_action_name"
        in: "header"
        description: "A comma separated list of names of Preservation Actions. This\
          \ filter matches only those Business Rules whose purpose is to perform one\
          \ of the listed actions."
        required: false
        type: "string"
      - name: "preservation_action_type_guid"
        in: "header"
        description: "A comma separated list of GUIDs of Preservation Action Types.\
          \ This filter matches only those Business Rules whose purpose is to perform\
          \ one of the listed types of action."
        required: false
        type: "string"
      - name: "preservation_action_type_name"
        in: "header"
        description: "A comma separated list of name of Preservation Action Types.\
          \ This filter matches only those Business Rules whose purpose is to perform\
          \ one of the listed types of action."
        required: false
        type: "string"
      - name: "file_format_guid"
        in: "header"
        description: "A comma separated list of GUIDs of file formats. This filter\
          \ matches  only those Business Rules that have been defined to apply to\
          \ one of  the listed formats. This includes formats where the rule is  applicable\
          \ indirectly through the format family."
        required: false
        type: "string"
      - name: "file_format_name"
        in: "header"
        description: "A comma separated list of names of file formats. This filter\
          \ matches  only those Business Rules that have been defined to apply to\
          \ one of  the listed formats. This includes formats where the rule is  applicable\
          \ indirectly through the format family."
        required: false
        type: "string"
      - name: "format_family_guid"
        in: "header"
        description: "A comma separated list of names of formats families. This filter\
          \  matches only those Business Rules that have been defined to apply to\
          \  one of the listed format families. "
        required: false
        type: "string"
      - name: "format_family_name"
        in: "header"
        description: "A comma separated list of names of formats families. This filter\
          \  matches only those Business Rules that have been defined to apply to\
          \  one of the listed format families. "
        required: false
        type: "string"
      - name: "guid"
        in: "header"
        description: "A comma separated list of GUIDs of Business Rules. This filter\
          \ matches only those Business Rules that are identified by one of the listed\
          \ GUIDs."
        required: false
        type: "string"
      - name: "name"
        in: "header"
        description: "A comma separated list of names of Business Rules. This filter\
          \ matches only those Business Rules that are identified by one of the listed\
          \ names."
        required: false
        type: "string"
      - name: "modified_after"
        in: "query"
        description: "This filter matches only those Business Rules whose local last\
          \ modified date is after the specified date."
        required: false
        type: "string"
      - name: "modified_before"
        in: "query"
        description: "This filter matches only those Business Rules whose local last\
          \ modified date is before the specified date."
        required: false
        type: "string"
      - name: "offset"
        in: "query"
        description: "Used for requesting paged responses, this defines the offset\
          \ of the first Business Rule to return from the start of the list of all\
          \ matching Business Rules."
        required: false
        type: "integer"
        default: 0
      - name: "limit"
        in: "query"
        description: "Used for requesting paged responses, this defines the maximum\
          \ number of Business Rules to return."
        required: false
        type: "integer"
        default: 0
      responses:
        "200":
          description: "Success"
          examples:
            application/json;charset=UTF-8: "{\n  \"businessRules\" : [ {\n    \"\
              id\" : {\n      \"guid\" : \"cb2bea88-8006-58fa-a395-dcf0d76a32ee\"\
              ,\n      \"name\" : \"mediainfo-extraction-of-video\",\n      \"namespace\"\
              \ : \"http://par.preservica.com\"\n    },\n    \"description\" : \"\
              For property extraction of Video file formats, use the MediaInfo CLI\"\
              ,\n    \"formats\" : [ {\n      \"guid\" : \"6590d828-10ac-5aa4-aaf8-36f073343432\"\
              ,\n      \"name\" : \"fmt/735\",\n      \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n    }, {\n      \"guid\" : \"e534e808-9680-5945-8046-5fface23cd93\"\
              ,\n      \"name\" : \"fmt/951\",\n      \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n    }, {\n      \"guid\" : \"84dbb5f7-b722-5817-8762-e05c1ef17759\"\
              ,\n      \"name\" : \"fmt/973\",\n      \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n    }, {\n      \"guid\" : \"993a1df3-7da3-5972-b765-431195b3f009\"\
              ,\n      \"name\" : \"fmt/1086\",\n      \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n    }, {\n      \"guid\" : \"61a35b4f-34c0-51b4-9dd3-8f03c79b69a8\"\
              ,\n      \"name\" : \"x-fmt/139\",\n      \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n    }, {\n      \"guid\" : \"9fdb2a8d-3143-54c1-a3ae-83f122b5fd4c\"\
              ,\n      \"name\" : \"x-fmt/419\",\n      \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n    } ],\n    \"formatFamilies\" : [ {\n      \"id\" : {\n       \
              \ \"guid\" : \"60303765-0d86-5f48-a26c-96daec3b754b\",\n        \"name\"\
              \ : \"video\",\n        \"namespace\" : \"http://par.preservica.com\"\
              \n      },\n      \"familyType\" : \"Video File Formats\",\n      \"\
              fileFormats\" : [ {\n        \"guid\" : \"dfc92377-0582-584b-9bce-661cc365b10d\"\
              ,\n        \"name\" : \"TSS-fmt/4\",\n        \"namespace\" : \"http://tessella.com\"\
              \n      }, {\n        \"guid\" : \"27a4b10f-9090-556b-9078-50e1c5c83a71\"\
              ,\n        \"name\" : \"fmt/649\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"3a911ebe-77f0-5f8f-bd2d-967c0b04dfbc\"\
              ,\n        \"name\" : \"fmt/506\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"f3252fc5-f9fe-5b4f-925e-edc4653a7ff0\"\
              ,\n        \"name\" : \"fmt/193\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"4a7b6f86-6b6d-50e6-8773-7ea371fe9ce4\"\
              ,\n        \"name\" : \"fmt/786\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"f8fb693b-e2d6-51c8-91b5-ef79fcdcb3bb\"\
              ,\n        \"name\" : \"fmt/131\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"35bbdd65-3556-5080-aeeb-fe466514a05a\"\
              ,\n        \"name\" : \"fmt/499\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"a6935eb3-54c7-56f8-acf0-87563d803142\"\
              ,\n        \"name\" : \"fmt/133\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"1d6dc249-b131-5492-bab2-60d98fa73e02\"\
              ,\n        \"name\" : \"fmt/199\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"614228d4-c022-5679-b74b-6f127d5c4ce8\"\
              ,\n        \"name\" : \"fmt/200\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"9947c06d-591e-56bd-98df-8c15a5d38655\"\
              ,\n        \"name\" : \"TSS-fmt/13\",\n        \"namespace\" : \"http://tessella.com\"\
              \n      }, {\n        \"guid\" : \"cc6f693f-3e92-5e6c-a5f4-dde355f9b498\"\
              ,\n        \"name\" : \"TSS-fmt/15\",\n        \"namespace\" : \"http://tessella.com\"\
              \n      }, {\n        \"guid\" : \"36ce7b02-d2cb-5d23-bad3-de475d3e8eea\"\
              ,\n        \"name\" : \"fmt/105\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"f45f2474-f7fb-55a0-a8d6-1f171c4109aa\"\
              ,\n        \"name\" : \"x-fmt/385\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"82c41aa8-bf6a-50ba-97b1-d28f3b25d77a\"\
              ,\n        \"name\" : \"fmt/107\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"eba99ac5-b80b-560f-9d0f-cb371260246d\"\
              ,\n        \"name\" : \"TSS-fmt/11\",\n        \"namespace\" : \"http://tessella.com\"\
              \n      }, {\n        \"guid\" : \"7e3419fd-2410-54e2-ad71-0982b81acd38\"\
              ,\n        \"name\" : \"fmt/109\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"ec00c475-d655-57f0-b2df-aefe8c0c943e\"\
              ,\n        \"name\" : \"TSS-fmt/9\",\n        \"namespace\" : \"http://tessella.com\"\
              \n      }, {\n        \"guid\" : \"3ab0c6bd-1772-5224-9e8d-329c5e56deb5\"\
              ,\n        \"name\" : \"fmt/507\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"dfc81f25-27a1-51f0-a437-5a9be605205b\"\
              ,\n        \"name\" : \"fmt/505\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"4b5ee9ea-1528-58dd-b7a5-80099c11a2e7\"\
              ,\n        \"name\" : \"fmt/945\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"4ea966c9-a431-56d1-9c34-5a56c1c4d32b\"\
              ,\n        \"name\" : \"fmt/569\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"80a02837-3b02-5e43-beb8-b8121343da71\"\
              ,\n        \"name\" : \"fmt/1055\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"8bda423a-b6f2-55dc-bd4c-034952d2070a\"\
              ,\n        \"name\" : \"fmt/731\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"83e012dd-d83c-577f-982f-07d2e846e93d\"\
              ,\n        \"name\" : \"fmt/110\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"98bdd321-0f14-5ff8-b174-5470977c4fb4\"\
              ,\n        \"name\" : \"TSS-fmt/3\",\n        \"namespace\" : \"http://tessella.com\"\
              \n      }, {\n        \"guid\" : \"f21bab26-c3ab-57d0-b1d6-fcdf1d451842\"\
              ,\n        \"name\" : \"fmt/5\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"19b8b2eb-64a5-5e0e-9726-5da7552e9ac2\"\
              ,\n        \"name\" : \"fmt/585\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"e104d7fb-0d2c-55d7-ba89-65cdd41b5be7\"\
              ,\n        \"name\" : \"fmt/640\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"bd2f2266-05bc-52c8-80c1-63d7efa1886a\"\
              ,\n        \"name\" : \"fmt/573\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"b4471a17-e68e-5979-9299-7e9f78772d89\"\
              ,\n        \"name\" : \"TSS-fmt/14\",\n        \"namespace\" : \"http://tessella.com\"\
              \n      }, {\n        \"guid\" : \"9f7df46e-89d4-57b7-ad22-26e6a9748422\"\
              ,\n        \"name\" : \"x-fmt/386\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"2253f81a-8692-5ddd-8010-99c2a2461360\"\
              ,\n        \"name\" : \"fmt/104\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"2d398b99-4a15-5fb9-93ad-c6dfa86b8d78\"\
              ,\n        \"name\" : \"TSS-fmt/16\",\n        \"namespace\" : \"http://tessella.com\"\
              \n      }, {\n        \"guid\" : \"a3e220e6-2241-51dc-a00b-cd4e9a11efe7\"\
              ,\n        \"name\" : \"fmt/425\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"f92ffa76-ef89-55df-89ef-94bca58e4e2d\"\
              ,\n        \"name\" : \"TSS-fmt/10\",\n        \"namespace\" : \"http://tessella.com\"\
              \n      }, {\n        \"guid\" : \"3aa32617-a451-5fe2-856f-b5e0e0b5b968\"\
              ,\n        \"name\" : \"fmt/106\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"8b38c945-081e-5135-bfea-276e2127ce3a\"\
              ,\n        \"name\" : \"fmt/108\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"dd86844e-3988-55ac-bc19-43bfe86be1ba\"\
              ,\n        \"name\" : \"TSS-fmt/12\",\n        \"namespace\" : \"http://tessella.com\"\
              \n      }, {\n        \"guid\" : \"4341c3b3-d26d-56a7-a2db-5f75fd8aa0a9\"\
              ,\n        \"name\" : \"x-fmt/152\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"0aa8edb4-3078-574a-97fe-34922d2c2ca1\"\
              ,\n        \"name\" : \"x-fmt/384\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"6899a72e-f4d0-5768-a197-40fe3dabffe9\"\
              ,\n        \"name\" : \"x-fmt/190\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"b4450c2f-30d2-55a5-bad8-78c5ba0d1d26\"\
              ,\n        \"name\" : \"x-fmt/382\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      } ]\n    }, {\n      \"id\" : {\n        \"guid\" : \"ae7ebffb-5140-53a6-9a9a-adbe90953f45\"\
              ,\n        \"name\" : \"asf\",\n        \"namespace\" : \"http://par.preservica.com\"\
              \n      },\n      \"familyType\" : \"Format Group\",\n      \"fileFormats\"\
              \ : [ {\n        \"guid\" : \"f8fb693b-e2d6-51c8-91b5-ef79fcdcb3bb\"\
              ,\n        \"name\" : \"fmt/131\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"dfc81f25-27a1-51f0-a437-5a9be605205b\"\
              ,\n        \"name\" : \"fmt/505\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"3a911ebe-77f0-5f8f-bd2d-967c0b04dfbc\"\
              ,\n        \"name\" : \"fmt/506\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"3ab0c6bd-1772-5224-9e8d-329c5e56deb5\"\
              ,\n        \"name\" : \"fmt/507\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"dbd65709-a393-5d73-9b68-0355972532ba\"\
              ,\n        \"name\" : \"x-fmt/137\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      } ]\n    }, {\n      \"id\" : {\n        \"guid\" : \"7c62e0ea-4846-52d4-b62b-ab99d7084d7d\"\
              ,\n        \"name\" : \"wma\",\n        \"namespace\" : \"http://par.preservica.com\"\
              \n      },\n      \"familyType\" : \"Format Group\",\n      \"fileFormats\"\
              \ : [ {\n        \"guid\" : \"eb916390-88b6-5431-b8e3-cf03e44c7554\"\
              ,\n        \"name\" : \"fmt/132\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      } ]\n    }, {\n      \"id\" : {\n        \"guid\" : \"c6c99061-2702-5b83-98fe-e6f46d1c007b\"\
              ,\n        \"name\" : \"mpeg-audio\",\n        \"namespace\" : \"http://par.preservica.com\"\
              \n      },\n      \"familyType\" : \"Format Group\",\n      \"fileFormats\"\
              \ : [ {\n        \"guid\" : \"6efff7b7-3ddb-57ab-85bb-3501ba202afe\"\
              ,\n        \"name\" : \"fmt/134\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"76a512ae-6c0b-5e11-bf2f-714ffa770ea2\"\
              ,\n        \"name\" : \"fmt/198\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"984e8161-82c7-5821-9b08-2ed9580b0fd5\"\
              ,\n        \"name\" : \"fmt/347\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"3a7d7cb5-f8f7-5414-b155-f6558cf9e897\"\
              ,\n        \"name\" : \"x-fmt/279\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      } ]\n    }, {\n      \"id\" : {\n        \"guid\" : \"ae87efa4-cd5a-5d07-b1b7-251a4fe871c8\"\
              ,\n        \"name\" : \"ogg\",\n        \"namespace\" : \"http://par.preservica.com\"\
              \n      },\n      \"familyType\" : \"Format Group\",\n      \"fileFormats\"\
              \ : [ {\n        \"guid\" : \"9ba33cd0-6339-5add-9c10-cd9a430a1d84\"\
              ,\n        \"name\" : \"fmt/203\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"4b5ee9ea-1528-58dd-b7a5-80099c11a2e7\"\
              ,\n        \"name\" : \"fmt/945\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"98adc483-d0cd-58b4-84d8-0d4117b53089\"\
              ,\n        \"name\" : \"fmt/946\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"d67128ec-b34b-525a-a228-0c5cf692b22c\"\
              ,\n        \"name\" : \"fmt/947\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      }, {\n        \"guid\" : \"d04d2361-05d5-582f-a83c-c573f6e34cc1\"\
              ,\n        \"name\" : \"fmt/948\",\n        \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n      } ]\n    } ],\n    \"preservationActionTypes\" : [ {\n     \
              \ \"id\" : {\n        \"guid\" : \"3c2a1229-2aa0-5c0f-bf6b-b270386e4ce9\"\
              ,\n        \"name\" : \"mee\",\n        \"namespace\" : \"http://id.loc.gov/vocabulary/preservation/eventType/\"\
              \n      },\n      \"label\" : \"metadata extraction\"\n    } ],\n  \
              \  \"preservationActions\" : [ {\n      \"preservationAction\" : {\n\
              \        \"guid\" : \"bed3a85b-cd2c-55d7-939b-cfe063479cfa\",\n    \
              \    \"name\" : \"video-extract-mediainfo\",\n        \"namespace\"\
              \ : \"http://par.preservica.com\"\n      },\n      \"priority\" : 1\n\
              \    } ],\n    \"notes\" : \"Use MediaInfo for Property Extraction\"\
              \n  }, {\n    \"id\" : {\n      \"guid\" : \"9396cbc6-03d2-5195-ac8e-05017913defc\"\
              ,\n      \"name\" : \"property-extraction-of-camera-raw\",\n      \"\
              namespace\" : \"http://par.preservica.com\"\n    },\n    \"description\"\
              \ : \"For Property Extraction of Nikon, Fujifilm, Olympus and Minolta\
              \ RAW Images use ExifTool\",\n    \"formats\" : [ {\n      \"guid\"\
              \ : \"026d9445-7056-5824-adf8-0ab7db541319\",\n      \"name\" : \"fmt/202\"\
              ,\n      \"namespace\" : \"http://www.nationalarchives.gov.uk\"\n  \
              \  }, {\n      \"guid\" : \"1fff9428-6bf2-5a90-8afd-c560a63d2f33\",\n\
              \      \"name\" : \"fmt/642\",\n      \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n    }, {\n      \"guid\" : \"29814d1c-020e-5156-9405-3562137b4295\"\
              ,\n      \"name\" : \"fmt/668\",\n      \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n    }, {\n      \"guid\" : \"4b8cac87-b6ba-57d4-8f4e-02f35ba32c64\"\
              ,\n      \"name\" : \"fmt/669\",\n      \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n    } ],\n    \"preservationActionTypes\" : [ {\n      \"id\" : {\n\
              \        \"guid\" : \"3c2a1229-2aa0-5c0f-bf6b-b270386e4ce9\",\n    \
              \    \"name\" : \"mee\",\n        \"namespace\" : \"http://id.loc.gov/vocabulary/preservation/eventType/\"\
              \n      },\n      \"label\" : \"metadata extraction\"\n    } ],\n  \
              \  \"preservationActions\" : [ {\n      \"preservationAction\" : {\n\
              \        \"guid\" : \"272bd75c-a356-5ce2-a143-96b923dc2bd7\",\n    \
              \    \"name\" : \"extract-camera-raw\",\n        \"namespace\" : \"\
              http://par.preservica.com\"\n      },\n      \"priority\" : 1\n    }\
              \ ],\n    \"notes\" : \"Use ExifTool for Nikon, Fujifilm, Olympus and\
              \ Minolta RAW Image Property Extraction\"\n  } ]\n}"
          schema:
            $ref: "#/definitions/BusinessRules"
      x-swagger-router-controller: "swagger_server.controllers.business_rules_controller"
    post:
      tags:
      - "/business-rules"
      summary: "Create Business Rule"
      description: "Creates a new Business Rule and returns the rule as created."
      operationId: "business_rules_post"
      consumes:
      - "application/json;charset=UTF-8"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "Authorization"
        in: "header"
        description: "HTTP Basic Auth header"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Serialised entity in request body"
        required: false
        schema:
          $ref: "#/definitions/BusinessRule"
      responses:
        "201":
          description: "Success"
          examples:
            application/json;charset=UTF-8: "{\n  \"id\" : {\n    \"guid\" : \"85fb1396-7625-55ed-b25c-6f6e75e6b27a\"\
              ,\n    \"name\" : \"web-ready-mp4-migration-ffmpeg\",\n    \"namespace\"\
              \ : \"http://par.preservica.com\"\n  },\n  \"description\" : \"Migrate\
              \ video to web-presentable MP4 using FFmpeg\",\n  \"formats\" : [ {\n\
              \    \"guid\" : \"f21bab26-c3ab-57d0-b1d6-fcdf1d451842\",\n    \"name\"\
              \ : \"fmt/5\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"8b38c945-081e-5135-bfea-276e2127ce3a\",\n\
              \    \"name\" : \"fmt/108\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"7e3419fd-2410-54e2-ad71-0982b81acd38\",\n\
              \    \"name\" : \"fmt/109\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"f8fb693b-e2d6-51c8-91b5-ef79fcdcb3bb\",\n\
              \    \"name\" : \"fmt/131\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"a6935eb3-54c7-56f8-acf0-87563d803142\",\n\
              \    \"name\" : \"fmt/133\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"1d6dc249-b131-5492-bab2-60d98fa73e02\",\n\
              \    \"name\" : \"fmt/199\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"614228d4-c022-5679-b74b-6f127d5c4ce8\",\n\
              \    \"name\" : \"fmt/200\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"a3e220e6-2241-51dc-a00b-cd4e9a11efe7\",\n\
              \    \"name\" : \"fmt/425\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"35bbdd65-3556-5080-aeeb-fe466514a05a\",\n\
              \    \"name\" : \"fmt/499\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"bd2f2266-05bc-52c8-80c1-63d7efa1886a\",\n\
              \    \"name\" : \"fmt/573\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"19b8b2eb-64a5-5e0e-9726-5da7552e9ac2\",\n\
              \    \"name\" : \"fmt/585\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"27a4b10f-9090-556b-9078-50e1c5c83a71\",\n\
              \    \"name\" : \"fmt/649\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"8bda423a-b6f2-55dc-bd4c-034952d2070a\",\n\
              \    \"name\" : \"fmt/731\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"4a7b6f86-6b6d-50e6-8773-7ea371fe9ce4\",\n\
              \    \"name\" : \"fmt/786\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"dc9f3053-a788-5904-9711-3059338bca04\",\n\
              \    \"name\" : \"fmt/935\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"4b5ee9ea-1528-58dd-b7a5-80099c11a2e7\",\n\
              \    \"name\" : \"fmt/945\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"4341c3b3-d26d-56a7-a2db-5f75fd8aa0a9\",\n\
              \    \"name\" : \"x-fmt/152\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"6899a72e-f4d0-5768-a197-40fe3dabffe9\",\n\
              \    \"name\" : \"x-fmt/190\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"b4450c2f-30d2-55a5-bad8-78c5ba0d1d26\",\n\
              \    \"name\" : \"x-fmt/382\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"0aa8edb4-3078-574a-97fe-34922d2c2ca1\",\n\
              \    \"name\" : \"x-fmt/384\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"f45f2474-f7fb-55a0-a8d6-1f171c4109aa\",\n\
              \    \"name\" : \"x-fmt/385\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"9f7df46e-89d4-57b7-ad22-26e6a9748422\",\n\
              \    \"name\" : \"x-fmt/386\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  } ],\n  \"preservationActionTypes\" : [ {\n    \"id\" : {\n    \
              \  \"guid\" : \"45bad06c-e2c0-5b46-b740-0cd2ed140a6f\",\n      \"name\"\
              \ : \"mig\",\n      \"namespace\" : \"http://id.loc.gov/vocabulary/preservation/eventType/\"\
              \n    },\n    \"label\" : \"migration\"\n  } ],\n  \"preservationActions\"\
              \ : [ {\n    \"preservationAction\" : {\n      \"guid\" : \"0078de49-50eb-5551-be98-378fa300fdc8\"\
              ,\n      \"name\" : \"ffmpeg-web-ready-migration\",\n      \"namespace\"\
              \ : \"http://par.preservica.com\"\n    },\n    \"priority\" : 1\n  }\
              \ ],\n  \"notes\" : \"Use FFmpeg for migration of video files to web\
              \ presentable MP4 using FFmpeg, this uses the AAC audio and H.264 video\
              \ codecs.\"\n}"
          schema:
            $ref: "#/definitions/BusinessRule"
        "401":
          description: "If no Authorization header has been supplied"
        "403":
          description: "If the supplied Authorization header does not reference a\
            \ user with write access to this registry."
      x-swagger-router-controller: "swagger_server.controllers.business_rules_controller"
  /business-rules/{guid}:
    get:
      tags:
      - "/business-rules"
      summary: "Get a Business Rule"
      description: "Returns the Business Rule specified by the GUID of the PAR Identifier"
      operationId: "business_rules_guid_get"
      consumes: []
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "guid"
        in: "path"
        required: true
        type: "string"
      responses:
        "200":
          description: "Success"
          examples:
            application/json;charset=UTF-8: "{\n  \"id\" : {\n    \"guid\" : \"85fb1396-7625-55ed-b25c-6f6e75e6b27a\"\
              ,\n    \"name\" : \"web-ready-mp4-migration-ffmpeg\",\n    \"namespace\"\
              \ : \"http://par.preservica.com\"\n  },\n  \"description\" : \"Migrate\
              \ video to web-presentable MP4 using FFmpeg\",\n  \"formats\" : [ {\n\
              \    \"guid\" : \"f21bab26-c3ab-57d0-b1d6-fcdf1d451842\",\n    \"name\"\
              \ : \"fmt/5\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"8b38c945-081e-5135-bfea-276e2127ce3a\",\n\
              \    \"name\" : \"fmt/108\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"7e3419fd-2410-54e2-ad71-0982b81acd38\",\n\
              \    \"name\" : \"fmt/109\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"f8fb693b-e2d6-51c8-91b5-ef79fcdcb3bb\",\n\
              \    \"name\" : \"fmt/131\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"a6935eb3-54c7-56f8-acf0-87563d803142\",\n\
              \    \"name\" : \"fmt/133\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"1d6dc249-b131-5492-bab2-60d98fa73e02\",\n\
              \    \"name\" : \"fmt/199\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"614228d4-c022-5679-b74b-6f127d5c4ce8\",\n\
              \    \"name\" : \"fmt/200\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"a3e220e6-2241-51dc-a00b-cd4e9a11efe7\",\n\
              \    \"name\" : \"fmt/425\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"35bbdd65-3556-5080-aeeb-fe466514a05a\",\n\
              \    \"name\" : \"fmt/499\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"bd2f2266-05bc-52c8-80c1-63d7efa1886a\",\n\
              \    \"name\" : \"fmt/573\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"19b8b2eb-64a5-5e0e-9726-5da7552e9ac2\",\n\
              \    \"name\" : \"fmt/585\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"27a4b10f-9090-556b-9078-50e1c5c83a71\",\n\
              \    \"name\" : \"fmt/649\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"8bda423a-b6f2-55dc-bd4c-034952d2070a\",\n\
              \    \"name\" : \"fmt/731\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"4a7b6f86-6b6d-50e6-8773-7ea371fe9ce4\",\n\
              \    \"name\" : \"fmt/786\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"dc9f3053-a788-5904-9711-3059338bca04\",\n\
              \    \"name\" : \"fmt/935\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"4b5ee9ea-1528-58dd-b7a5-80099c11a2e7\",\n\
              \    \"name\" : \"fmt/945\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"4341c3b3-d26d-56a7-a2db-5f75fd8aa0a9\",\n\
              \    \"name\" : \"x-fmt/152\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"6899a72e-f4d0-5768-a197-40fe3dabffe9\",\n\
              \    \"name\" : \"x-fmt/190\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"b4450c2f-30d2-55a5-bad8-78c5ba0d1d26\",\n\
              \    \"name\" : \"x-fmt/382\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"0aa8edb4-3078-574a-97fe-34922d2c2ca1\",\n\
              \    \"name\" : \"x-fmt/384\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"f45f2474-f7fb-55a0-a8d6-1f171c4109aa\",\n\
              \    \"name\" : \"x-fmt/385\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"9f7df46e-89d4-57b7-ad22-26e6a9748422\",\n\
              \    \"name\" : \"x-fmt/386\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  } ],\n  \"preservationActionTypes\" : [ {\n    \"id\" : {\n    \
              \  \"guid\" : \"45bad06c-e2c0-5b46-b740-0cd2ed140a6f\",\n      \"name\"\
              \ : \"mig\",\n      \"namespace\" : \"http://id.loc.gov/vocabulary/preservation/eventType/\"\
              \n    },\n    \"label\" : \"migration\"\n  } ],\n  \"preservationActions\"\
              \ : [ {\n    \"preservationAction\" : {\n      \"guid\" : \"0078de49-50eb-5551-be98-378fa300fdc8\"\
              ,\n      \"name\" : \"ffmpeg-web-ready-migration\",\n      \"namespace\"\
              \ : \"http://par.preservica.com\"\n    },\n    \"priority\" : 1\n  }\
              \ ],\n  \"notes\" : \"Use FFmpeg for migration of video files to web\
              \ presentable MP4 using FFmpeg, this uses the AAC audio and H.264 video\
              \ codecs.\"\n}"
          schema:
            $ref: "#/definitions/BusinessRule"
        "404":
          description: "If the specified guid does not reference a Business Rule known\
            \ to this registry."
      x-swagger-router-controller: "swagger_server.controllers.business_rules_controller"
    put:
      tags:
      - "/business-rules"
      summary: "Update Business Rule"
      description: "Updates the Business Rule specified by the GUID of the PAR Identifier\
        \ and returns the rule as updated."
      operationId: "business_rules_guid_put"
      consumes:
      - "application/json;charset=UTF-8"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "guid"
        in: "path"
        required: true
        type: "string"
      - name: "Authorization"
        in: "header"
        description: "HTTP Basic Auth header"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Serialised entity in request body"
        required: false
        schema:
          $ref: "#/definitions/BusinessRule"
      responses:
        "201":
          description: "Success"
          examples:
            application/json;charset=UTF-8: "{\n  \"id\" : {\n    \"guid\" : \"85fb1396-7625-55ed-b25c-6f6e75e6b27a\"\
              ,\n    \"name\" : \"web-ready-mp4-migration-ffmpeg\",\n    \"namespace\"\
              \ : \"http://par.preservica.com\"\n  },\n  \"description\" : \"Migrate\
              \ video to web-presentable MP4 using FFmpeg\",\n  \"formats\" : [ {\n\
              \    \"guid\" : \"f21bab26-c3ab-57d0-b1d6-fcdf1d451842\",\n    \"name\"\
              \ : \"fmt/5\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"8b38c945-081e-5135-bfea-276e2127ce3a\",\n\
              \    \"name\" : \"fmt/108\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"7e3419fd-2410-54e2-ad71-0982b81acd38\",\n\
              \    \"name\" : \"fmt/109\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"f8fb693b-e2d6-51c8-91b5-ef79fcdcb3bb\",\n\
              \    \"name\" : \"fmt/131\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"a6935eb3-54c7-56f8-acf0-87563d803142\",\n\
              \    \"name\" : \"fmt/133\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"1d6dc249-b131-5492-bab2-60d98fa73e02\",\n\
              \    \"name\" : \"fmt/199\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"614228d4-c022-5679-b74b-6f127d5c4ce8\",\n\
              \    \"name\" : \"fmt/200\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"a3e220e6-2241-51dc-a00b-cd4e9a11efe7\",\n\
              \    \"name\" : \"fmt/425\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"35bbdd65-3556-5080-aeeb-fe466514a05a\",\n\
              \    \"name\" : \"fmt/499\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"bd2f2266-05bc-52c8-80c1-63d7efa1886a\",\n\
              \    \"name\" : \"fmt/573\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"19b8b2eb-64a5-5e0e-9726-5da7552e9ac2\",\n\
              \    \"name\" : \"fmt/585\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"27a4b10f-9090-556b-9078-50e1c5c83a71\",\n\
              \    \"name\" : \"fmt/649\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"8bda423a-b6f2-55dc-bd4c-034952d2070a\",\n\
              \    \"name\" : \"fmt/731\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"4a7b6f86-6b6d-50e6-8773-7ea371fe9ce4\",\n\
              \    \"name\" : \"fmt/786\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"dc9f3053-a788-5904-9711-3059338bca04\",\n\
              \    \"name\" : \"fmt/935\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"4b5ee9ea-1528-58dd-b7a5-80099c11a2e7\",\n\
              \    \"name\" : \"fmt/945\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"4341c3b3-d26d-56a7-a2db-5f75fd8aa0a9\",\n\
              \    \"name\" : \"x-fmt/152\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"6899a72e-f4d0-5768-a197-40fe3dabffe9\",\n\
              \    \"name\" : \"x-fmt/190\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"b4450c2f-30d2-55a5-bad8-78c5ba0d1d26\",\n\
              \    \"name\" : \"x-fmt/382\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"0aa8edb4-3078-574a-97fe-34922d2c2ca1\",\n\
              \    \"name\" : \"x-fmt/384\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"f45f2474-f7fb-55a0-a8d6-1f171c4109aa\",\n\
              \    \"name\" : \"x-fmt/385\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"9f7df46e-89d4-57b7-ad22-26e6a9748422\",\n\
              \    \"name\" : \"x-fmt/386\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  } ],\n  \"preservationActionTypes\" : [ {\n    \"id\" : {\n    \
              \  \"guid\" : \"45bad06c-e2c0-5b46-b740-0cd2ed140a6f\",\n      \"name\"\
              \ : \"mig\",\n      \"namespace\" : \"http://id.loc.gov/vocabulary/preservation/eventType/\"\
              \n    },\n    \"label\" : \"migration\"\n  } ],\n  \"preservationActions\"\
              \ : [ {\n    \"preservationAction\" : {\n      \"guid\" : \"0078de49-50eb-5551-be98-378fa300fdc8\"\
              ,\n      \"name\" : \"ffmpeg-web-ready-migration\",\n      \"namespace\"\
              \ : \"http://par.preservica.com\"\n    },\n    \"priority\" : 1\n  }\
              \ ],\n  \"notes\" : \"Use FFmpeg for migration of video files to web\
              \ presentable MP4 using FFmpeg, this uses the AAC audio and H.264 video\
              \ codecs.\"\n}"
          schema:
            $ref: "#/definitions/BusinessRule"
        "401":
          description: "If no Authorization header has been supplied."
        "403":
          description: "If the supplied Authorization header does not reference a\
            \ user with write access to this registry."
      x-swagger-router-controller: "swagger_server.controllers.business_rules_controller"
    delete:
      tags:
      - "/business-rules"
      summary: "Delete Business Rule"
      description: "Deletes the Business Rule specified by the GUID of the PAR Identifier"
      operationId: "business_rules_guid_delete"
      consumes: []
      produces: []
      parameters:
      - name: "guid"
        in: "path"
        required: true
        type: "string"
      - name: "Authorization"
        in: "header"
        description: "HTTP Basic Auth header"
        required: true
        type: "string"
      responses:
        "204":
          description: "Business Rule successfully deleted."
        "401":
          description: "If no Authorization header has been supplied."
        "403":
          description: "If the supplied Authorization header does not reference a\
            \ user with write access to this registry."
      x-swagger-router-controller: "swagger_server.controllers.business_rules_controller"
  /file-formats:
    get:
      tags:
      - "/file-formats"
      summary: "Get File Formats"
      description: "Returns an array of File Formats that match all of the filter\
        \ conditions supplied. Any number of filters can be used together.\nThe date\
        \ filters should be supplied as ISO-8601 date times or dates, i.e. yyyy-MM-ddThh:mm:ss.SZ\
        \ or yyyy-MM-dd.\nIf no time information is supplied, then 00:00:00 in UTC\
        \ will be assumed. This means that if you supply modified-after and modified-before\
        \ dates of 2019-01-01 and 2019-12-31, you will not match any FileFormats modified\
        \ during the day of 31st December."
      operationId: "file_formats_get"
      consumes: []
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "guid"
        in: "header"
        description: "A comma separated list of the GUIDs of File Formats. This filter\
          \ matches only those File Formats that are identified by one of the listed\
          \ GUIDs."
        required: false
        type: "string"
      - name: "name"
        in: "header"
        description: "A comma separated list of the names of File Formats. This filter\
          \ matches only those File Formats that are identified by one of the listed\
          \ names."
        required: false
        type: "string"
      - name: "modified_after"
        in: "query"
        description: "This filter matches only those File Formats whose local last\
          \ modified date is after the specified date."
        required: false
        type: "string"
      - name: "modified_before"
        in: "query"
        description: "This filter matches only those File Formats whose local last\
          \ modified date is before the specified date."
        required: false
        type: "string"
      - name: "offset"
        in: "query"
        description: "Used for requesting paged responses, this defines the offset\
          \ of the first FileFormat to return from the start of the list of all matching\
          \ File Formats."
        required: false
        type: "integer"
        default: 0
      - name: "limit"
        in: "query"
        description: "Used for requesting paged responses, this defines the maximum\
          \ number of FileFormats to return."
        required: false
        type: "integer"
        default: 0
      responses:
        "200":
          description: "Success"
          examples:
            application/json;charset=UTF-8: "{\n  \"fileFormats\" : [ {\n    \"description\"\
              \ : \"This is an outline record only, and requires further details,\
              \ research or authentication to provide information that will enable\
              \ users to further understand the format and to assess digital preservation\
              \ risks associated with it if appropriate.\",\n    \"externalSignatures\"\
              \ : [ {\n      \"signature\" : \"f4a\",\n      \"signatureType\" : \"\
              File Extension\"\n    }, {\n      \"signature\" : \"m4v\",\n      \"\
              signatureType\" : \"File Extension\"\n    }, {\n      \"signature\"\
              \ : \"m4a\",\n      \"signatureType\" : \"File Extension\"\n    }, {\n\
              \      \"signature\" : \"f4v\",\n      \"signatureType\" : \"File Extension\"\
              \n    }, {\n      \"signature\" : \"mp4\",\n      \"signatureType\"\
              \ : \"File Extension\"\n    } ],\n    \"id\" : {\n      \"guid\" : \"\
              1d6dc249-b131-5492-bab2-60d98fa73e02\",\n      \"name\" : \"fmt/199\"\
              ,\n      \"namespace\" : \"http://www.nationalarchives.gov.uk\"\n  \
              \  },\n    \"internalSignatures\" : [ {\n      \"byteSequences\" : [\
              \ {\n        \"byteSequenceId\" : \"bs/357\",\n        \"byteSequenceIdNamespace\"\
              \ : \"http://www.nationalarchives.gov.uk\",\n        \"byteSequenceValue\"\
              \ : \"66747970{0-64}(6D703432|6D703431|69736F6D|69736F32)*6D6F6F76\"\
              ,\n        \"maxOffset\" : \"0\",\n        \"offset\" : \"4\",\n   \
              \     \"positionType\" : \"Absolute from BOF\"\n      } ],\n      \"\
              signatureId\" : \"is/278\",\n      \"signatureIdNamespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n    } ],\n    \"localLastModifiedDate\" : \"2017-07-05T20:22:48Z\"\
              ,\n    \"name\" : \"MPEG-4 Media File\",\n    \"relatedFormats\" : [\
              \ {\n      \"relatedFormatId\" : \"x-fmt/384\",\n      \"relatedFormatIdNamespace\"\
              \ : \"http://www.nationalarchives.gov.uk\",\n      \"relatedFormatName\"\
              \ : \"Quicktime\",\n      \"relatedFormatVersion\" : \"\\n      \",\n\
              \      \"relationshipType\" : \"Has priority over\"\n    }, {\n    \
              \  \"relatedFormatId\" : \"fmt/596\",\n      \"relatedFormatIdNamespace\"\
              \ : \"http://www.nationalarchives.gov.uk\",\n      \"relatedFormatName\"\
              \ : \"Apple Lossless Audio Codec\",\n      \"relatedFormatVersion\"\
              \ : \"\\n      \",\n      \"relationshipType\" : \"Has lower priority\
              \ than\"\n    }, {\n      \"relatedFormatId\" : \"fmt/357\",\n     \
              \ \"relatedFormatIdNamespace\" : \"http://www.nationalarchives.gov.uk\"\
              ,\n      \"relatedFormatName\" : \"3GPP Audio/Video File\",\n      \"\
              relatedFormatVersion\" : \"\\n      \",\n      \"relationshipType\"\
              \ : \"Has lower priority than\"\n    } ],\n    \"types\" : [ \"Video\"\
              \ ],\n    \"version\" : \"\\n      \"\n  }, {\n    \"description\" :\
              \ \"MPEG-2 is a lossy compression standard (an improvement and expansion\
              \ of the MPEG-1 standard) designed for the generic coding of video and\
              \ audio and intended to cover a wide scope of application, including:\
              \ video production, broadcast and editing. Streams are at potentially\
              \ higher bitrates than MPEG-1 but more efficient compression making\
              \ it suited to High Definition video. MPEG-2 Video supports both 'progressive'\
              \ and 'interlaced' frame video. An MPG-2 ‘Program’ stream (PS) file\
              \ (*.mpg, *.mpeg) generally contain both video and audio streams, generally\
              \ for synchronised playback, and may carry a variety of other data (e.g.\
              \ video captions).\\n\\nSome camcorders store their MPEG-2 Program Stream\
              \ video data as files with the .mod extension, usually alongside other\
              \ files containing metadata and management information for the video.\"\
              ,\n    \"externalSignatures\" : [ {\n      \"signature\" : \"mod\",\n\
              \      \"signatureType\" : \"File Extension\"\n    }, {\n      \"signature\"\
              \ : \"mpeg\",\n      \"signatureType\" : \"File Extension\"\n    },\
              \ {\n      \"signature\" : \"mpg\",\n      \"signatureType\" : \"File\
              \ Extension\"\n    } ],\n    \"id\" : {\n      \"guid\" : \"9f7df46e-89d4-57b7-ad22-26e6a9748422\"\
              ,\n      \"name\" : \"x-fmt/386\",\n      \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n    },\n    \"identifiers\" : [ {\n      \"identifier\" : \"x-fmt/386\"\
              ,\n      \"identifierType\" : \"PUID\"\n    }, {\n      \"identifier\"\
              \ : \"video/mpeg\",\n      \"identifierType\" : \"MIME\"\n    } ],\n\
              \    \"internalSignatures\" : [ {\n      \"byteSequences\" : [ {\n \
              \       \"byteSequenceId\" : \"bs/800\",\n        \"byteSequenceIdNamespace\"\
              \ : \"http://www.nationalarchives.gov.uk\",\n        \"byteSequenceValue\"\
              \ : \"000001BA{8-12}000001BB{8-65536}000001B3{8-136}000001B5\",\n  \
              \      \"maxOffset\" : \"0\",\n        \"offset\" : \"0\",\n       \
              \ \"positionType\" : \"Absolute from BOF\"\n      } ],\n      \"signatureId\"\
              \ : \"is/655\",\n      \"signatureIdNamespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n    } ],\n    \"localLastModifiedDate\" : \"2019-07-30T19:28:46Z\"\
              ,\n    \"name\" : \"MPEG-2 Program Stream\",\n    \"relatedFormats\"\
              \ : [ {\n      \"relatedFormatId\" : \"x-fmt/385\",\n      \"relatedFormatIdNamespace\"\
              \ : \"http://www.nationalarchives.gov.uk\",\n      \"relatedFormatName\"\
              \ : \"MPEG-1 Program Stream\",\n      \"relatedFormatVersion\" : \"\\\
              n      \",\n      \"relationshipType\" : \"Has priority over\"\n   \
              \ }, {\n      \"relatedFormatId\" : \"fmt/425\",\n      \"relatedFormatIdNamespace\"\
              \ : \"http://www.nationalarchives.gov.uk\",\n      \"relatedFormatName\"\
              \ : \"Video Object File (MPEG-2 subset)\",\n      \"relatedFormatVersion\"\
              \ : \"\\n      \",\n      \"relationshipType\" : \"Has lower priority\
              \ than\"\n    } ],\n    \"types\" : [ \"Video\" ],\n    \"version\"\
              \ : \"\\n      \"\n  } ]\n}"
          schema:
            $ref: "#/definitions/FileFormats"
      x-swagger-router-controller: "swagger_server.controllers.file_formats_controller"
    post:
      tags:
      - "/file-formats"
      summary: "Create File Format"
      description: "Creates a new File Format and returns the fileFormat as created."
      operationId: "file_formats_post"
      consumes:
      - "application/json;charset=UTF-8"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "Authorization"
        in: "header"
        description: "HTTP Basic Auth header"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Serialised entity in request body"
        required: false
        schema:
          $ref: "#/definitions/FileFormat"
      responses:
        "201":
          description: "Success"
          examples:
            application/json;charset=UTF-8: "{\n  \"description\" : \"With the release\
              \ of Word 97, Microsoft revised the native binary word processing format,\
              \ which is based on its generic OLE2 Compound Document Format. The format\
              \ is proprietary and Microsoft does not make details of its structure\
              \ public. The information here is derived primarily from OpenOffice.org's\
              \ reverse-engineered documentation of the format and should not therefore\
              \ be regarded as definitive. A Word document is stored as a ‘WordDocument’\
              \ stream within a Compound Document Format file. The format remained\
              \ unchanged with the releases of Word 2000, 2002 and 2003. An alternative\
              \ extension of .wbk refers to a backup file of a Word document, however\
              \ there is no material or structural difference between a .wbk file\
              \ and the .doc file it is a backup of.\",\n  \"externalSignatures\"\
              \ : [ {\n    \"signature\" : \"wbk\",\n    \"signatureType\" : \"File\
              \ Extension\"\n  }, {\n    \"signature\" : \"doc\",\n    \"signatureType\"\
              \ : \"File Extension\"\n  } ],\n  \"id\" : {\n    \"guid\" : \"fd71f444-9a3b-533b-89a0-aec2404db911\"\
              ,\n    \"name\" : \"fmt/40\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  },\n  \"identifiers\" : [ {\n    \"identifier\" : \"fmt/40\",\n\
              \    \"identifierType\" : \"PUID\"\n  }, {\n    \"identifier\" : \"\
              application/msword\",\n    \"identifierType\" : \"MIME\"\n  } ],\n \
              \ \"internalSignatures\" : [ {\n    \"byteSequences\" : [ {\n      \"\
              byteSequenceId\" : \"bs/223\",\n      \"byteSequenceIdNamespace\" :\
              \ \"http://www.nationalarchives.gov.uk\",\n      \"byteSequenceValue\"\
              \ : \"57006F007200640044006F00630075006D0065006E007400{42}02(00|01)\"\
              ,\n      \"maxOffset\" : \"0\",\n      \"offset\" : \"0\",\n      \"\
              positionType\" : \"Variable\"\n    }, {\n      \"byteSequenceId\" :\
              \ \"bs/222\",\n      \"byteSequenceIdNamespace\" : \"http://www.nationalarchives.gov.uk\"\
              ,\n      \"byteSequenceValue\" : \"D0CF11E0A1B11AE1{20}FEFF\",\n   \
              \   \"maxOffset\" : \"0\",\n      \"offset\" : \"0\",\n      \"positionType\"\
              \ : \"Absolute from BOF\"\n    }, {\n      \"byteSequenceId\" : \"bs/224\"\
              ,\n      \"byteSequenceIdNamespace\" : \"http://www.nationalarchives.gov.uk\"\
              ,\n      \"byteSequenceValue\" : \"4D6963726F736F667420576F7264(20382E30|20392E30|2031302E30|2D446F6B756D656E74)\"\
              ,\n      \"maxOffset\" : \"0\",\n      \"offset\" : \"0\",\n      \"\
              positionType\" : \"Variable\"\n    } ],\n    \"signatureId\" : \"is/182\"\
              ,\n    \"signatureIdNamespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  } ],\n  \"localLastModifiedDate\" : \"2017-07-05T20:22:59Z\",\n\
              \  \"name\" : \"Microsoft Word Document\",\n  \"relatedFormats\" : [\
              \ {\n    \"relatedFormatId\" : \"fmt/39\",\n    \"relatedFormatIdNamespace\"\
              \ : \"http://www.nationalarchives.gov.uk\",\n    \"relatedFormatName\"\
              \ : \"Microsoft Word Document\",\n    \"relatedFormatVersion\" : \"\
              6.0/95\",\n    \"relationshipType\" : \"Is subsequent version of\"\n\
              \  }, {\n    \"relatedFormatId\" : \"fmt/609\",\n    \"relatedFormatIdNamespace\"\
              \ : \"http://www.nationalarchives.gov.uk\",\n    \"relatedFormatName\"\
              \ : \"Microsoft Word (Generic)\",\n    \"relatedFormatVersion\" : \"\
              6.0-2003\",\n    \"relationshipType\" : \"Has priority over\"\n  },\
              \ {\n    \"relatedFormatId\" : \"fmt/111\",\n    \"relatedFormatIdNamespace\"\
              \ : \"http://www.nationalarchives.gov.uk\",\n    \"relatedFormatName\"\
              \ : \"OLE2 Compound Document Format\",\n    \"relatedFormatVersion\"\
              \ : \"\\n      \",\n    \"relationshipType\" : \"Has priority over\"\
              \n  }, {\n    \"relatedFormatId\" : \"x-fmt/45\",\n    \"relatedFormatIdNamespace\"\
              \ : \"http://www.nationalarchives.gov.uk\",\n    \"relatedFormatName\"\
              \ : \"Microsoft Word Document Template\",\n    \"relatedFormatVersion\"\
              \ : \"97-2003\",\n    \"relationshipType\" : \"Has lower priority than\"\
              \n  }, {\n    \"relatedFormatId\" : \"fmt/755\",\n    \"relatedFormatIdNamespace\"\
              \ : \"http://www.nationalarchives.gov.uk\",\n    \"relatedFormatName\"\
              \ : \"Microsoft Word Document Template (Password Protected)\",\n   \
              \ \"relatedFormatVersion\" : \"97-2003\",\n    \"relationshipType\"\
              \ : \"Has lower priority than\"\n  }, {\n    \"relatedFormatId\" : \"\
              fmt/754\",\n    \"relatedFormatIdNamespace\" : \"http://www.nationalarchives.gov.uk\"\
              ,\n    \"relatedFormatName\" : \"Microsoft Word Document (Password Protected)\"\
              ,\n    \"relatedFormatVersion\" : \"97-2003\",\n    \"relationshipType\"\
              \ : \"Has lower priority than\"\n  } ],\n  \"types\" : [ \"Document\"\
              \ ],\n  \"version\" : \"97-2003\"\n}"
          schema:
            $ref: "#/definitions/FileFormat"
        "401":
          description: "If no Authorization header has been supplied"
        "403":
          description: "If the supplied Authorization header does not reference a\
            \ user with write access to this registry."
      x-swagger-router-controller: "swagger_server.controllers.file_formats_controller"
  /file-formats/{guid}:
    get:
      tags:
      - "/file-formats"
      summary: "Get a File Format"
      description: "Returns the File Format specified by the Name part of the PAR\
        \ Identifier"
      operationId: "file_formats_guid_get"
      consumes: []
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "guid"
        in: "path"
        required: true
        type: "string"
      responses:
        "200":
          description: "Success"
          examples:
            application/json;charset=UTF-8: "{\n  \"description\" : \"With the release\
              \ of Word 97, Microsoft revised the native binary word processing format,\
              \ which is based on its generic OLE2 Compound Document Format. The format\
              \ is proprietary and Microsoft does not make details of its structure\
              \ public. The information here is derived primarily from OpenOffice.org's\
              \ reverse-engineered documentation of the format and should not therefore\
              \ be regarded as definitive. A Word document is stored as a ‘WordDocument’\
              \ stream within a Compound Document Format file. The format remained\
              \ unchanged with the releases of Word 2000, 2002 and 2003. An alternative\
              \ extension of .wbk refers to a backup file of a Word document, however\
              \ there is no material or structural difference between a .wbk file\
              \ and the .doc file it is a backup of.\",\n  \"externalSignatures\"\
              \ : [ {\n    \"signature\" : \"wbk\",\n    \"signatureType\" : \"File\
              \ Extension\"\n  }, {\n    \"signature\" : \"doc\",\n    \"signatureType\"\
              \ : \"File Extension\"\n  } ],\n  \"id\" : {\n    \"guid\" : \"fd71f444-9a3b-533b-89a0-aec2404db911\"\
              ,\n    \"name\" : \"fmt/40\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  },\n  \"identifiers\" : [ {\n    \"identifier\" : \"fmt/40\",\n\
              \    \"identifierType\" : \"PUID\"\n  }, {\n    \"identifier\" : \"\
              application/msword\",\n    \"identifierType\" : \"MIME\"\n  } ],\n \
              \ \"internalSignatures\" : [ {\n    \"byteSequences\" : [ {\n      \"\
              byteSequenceId\" : \"bs/223\",\n      \"byteSequenceIdNamespace\" :\
              \ \"http://www.nationalarchives.gov.uk\",\n      \"byteSequenceValue\"\
              \ : \"57006F007200640044006F00630075006D0065006E007400{42}02(00|01)\"\
              ,\n      \"maxOffset\" : \"0\",\n      \"offset\" : \"0\",\n      \"\
              positionType\" : \"Variable\"\n    }, {\n      \"byteSequenceId\" :\
              \ \"bs/222\",\n      \"byteSequenceIdNamespace\" : \"http://www.nationalarchives.gov.uk\"\
              ,\n      \"byteSequenceValue\" : \"D0CF11E0A1B11AE1{20}FEFF\",\n   \
              \   \"maxOffset\" : \"0\",\n      \"offset\" : \"0\",\n      \"positionType\"\
              \ : \"Absolute from BOF\"\n    }, {\n      \"byteSequenceId\" : \"bs/224\"\
              ,\n      \"byteSequenceIdNamespace\" : \"http://www.nationalarchives.gov.uk\"\
              ,\n      \"byteSequenceValue\" : \"4D6963726F736F667420576F7264(20382E30|20392E30|2031302E30|2D446F6B756D656E74)\"\
              ,\n      \"maxOffset\" : \"0\",\n      \"offset\" : \"0\",\n      \"\
              positionType\" : \"Variable\"\n    } ],\n    \"signatureId\" : \"is/182\"\
              ,\n    \"signatureIdNamespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  } ],\n  \"localLastModifiedDate\" : \"2017-07-05T20:22:59Z\",\n\
              \  \"name\" : \"Microsoft Word Document\",\n  \"relatedFormats\" : [\
              \ {\n    \"relatedFormatId\" : \"fmt/39\",\n    \"relatedFormatIdNamespace\"\
              \ : \"http://www.nationalarchives.gov.uk\",\n    \"relatedFormatName\"\
              \ : \"Microsoft Word Document\",\n    \"relatedFormatVersion\" : \"\
              6.0/95\",\n    \"relationshipType\" : \"Is subsequent version of\"\n\
              \  }, {\n    \"relatedFormatId\" : \"fmt/609\",\n    \"relatedFormatIdNamespace\"\
              \ : \"http://www.nationalarchives.gov.uk\",\n    \"relatedFormatName\"\
              \ : \"Microsoft Word (Generic)\",\n    \"relatedFormatVersion\" : \"\
              6.0-2003\",\n    \"relationshipType\" : \"Has priority over\"\n  },\
              \ {\n    \"relatedFormatId\" : \"fmt/111\",\n    \"relatedFormatIdNamespace\"\
              \ : \"http://www.nationalarchives.gov.uk\",\n    \"relatedFormatName\"\
              \ : \"OLE2 Compound Document Format\",\n    \"relatedFormatVersion\"\
              \ : \"\\n      \",\n    \"relationshipType\" : \"Has priority over\"\
              \n  }, {\n    \"relatedFormatId\" : \"x-fmt/45\",\n    \"relatedFormatIdNamespace\"\
              \ : \"http://www.nationalarchives.gov.uk\",\n    \"relatedFormatName\"\
              \ : \"Microsoft Word Document Template\",\n    \"relatedFormatVersion\"\
              \ : \"97-2003\",\n    \"relationshipType\" : \"Has lower priority than\"\
              \n  }, {\n    \"relatedFormatId\" : \"fmt/755\",\n    \"relatedFormatIdNamespace\"\
              \ : \"http://www.nationalarchives.gov.uk\",\n    \"relatedFormatName\"\
              \ : \"Microsoft Word Document Template (Password Protected)\",\n   \
              \ \"relatedFormatVersion\" : \"97-2003\",\n    \"relationshipType\"\
              \ : \"Has lower priority than\"\n  }, {\n    \"relatedFormatId\" : \"\
              fmt/754\",\n    \"relatedFormatIdNamespace\" : \"http://www.nationalarchives.gov.uk\"\
              ,\n    \"relatedFormatName\" : \"Microsoft Word Document (Password Protected)\"\
              ,\n    \"relatedFormatVersion\" : \"97-2003\",\n    \"relationshipType\"\
              \ : \"Has lower priority than\"\n  } ],\n  \"types\" : [ \"Document\"\
              \ ],\n  \"version\" : \"97-2003\"\n}"
          schema:
            $ref: "#/definitions/FileFormat"
        "404":
          description: "If the specified name does not reference a File Format known\
            \ to this registry."
      x-swagger-router-controller: "swagger_server.controllers.file_formats_controller"
    put:
      tags:
      - "/file-formats"
      summary: "Update File Format"
      description: "Updates the File Format specified by the Name part of the PAR\
        \ Identifier and returns the file format as updated."
      operationId: "file_formats_guid_put"
      consumes:
      - "application/json;charset=UTF-8"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "guid"
        in: "path"
        required: true
        type: "string"
      - name: "Authorization"
        in: "header"
        description: "HTTP Basic Auth header"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Serialised entity in request body"
        required: false
        schema:
          $ref: "#/definitions/FileFormat"
      responses:
        "201":
          description: "Success"
          examples:
            application/json;charset=UTF-8: "{\n  \"description\" : \"With the release\
              \ of Word 97, Microsoft revised the native binary word processing format,\
              \ which is based on its generic OLE2 Compound Document Format. The format\
              \ is proprietary and Microsoft does not make details of its structure\
              \ public. The information here is derived primarily from OpenOffice.org's\
              \ reverse-engineered documentation of the format and should not therefore\
              \ be regarded as definitive. A Word document is stored as a ‘WordDocument’\
              \ stream within a Compound Document Format file. The format remained\
              \ unchanged with the releases of Word 2000, 2002 and 2003. An alternative\
              \ extension of .wbk refers to a backup file of a Word document, however\
              \ there is no material or structural difference between a .wbk file\
              \ and the .doc file it is a backup of.\",\n  \"externalSignatures\"\
              \ : [ {\n    \"signature\" : \"wbk\",\n    \"signatureType\" : \"File\
              \ Extension\"\n  }, {\n    \"signature\" : \"doc\",\n    \"signatureType\"\
              \ : \"File Extension\"\n  } ],\n  \"id\" : {\n    \"guid\" : \"fd71f444-9a3b-533b-89a0-aec2404db911\"\
              ,\n    \"name\" : \"fmt/40\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  },\n  \"identifiers\" : [ {\n    \"identifier\" : \"fmt/40\",\n\
              \    \"identifierType\" : \"PUID\"\n  }, {\n    \"identifier\" : \"\
              application/msword\",\n    \"identifierType\" : \"MIME\"\n  } ],\n \
              \ \"internalSignatures\" : [ {\n    \"byteSequences\" : [ {\n      \"\
              byteSequenceId\" : \"bs/223\",\n      \"byteSequenceIdNamespace\" :\
              \ \"http://www.nationalarchives.gov.uk\",\n      \"byteSequenceValue\"\
              \ : \"57006F007200640044006F00630075006D0065006E007400{42}02(00|01)\"\
              ,\n      \"maxOffset\" : \"0\",\n      \"offset\" : \"0\",\n      \"\
              positionType\" : \"Variable\"\n    }, {\n      \"byteSequenceId\" :\
              \ \"bs/222\",\n      \"byteSequenceIdNamespace\" : \"http://www.nationalarchives.gov.uk\"\
              ,\n      \"byteSequenceValue\" : \"D0CF11E0A1B11AE1{20}FEFF\",\n   \
              \   \"maxOffset\" : \"0\",\n      \"offset\" : \"0\",\n      \"positionType\"\
              \ : \"Absolute from BOF\"\n    }, {\n      \"byteSequenceId\" : \"bs/224\"\
              ,\n      \"byteSequenceIdNamespace\" : \"http://www.nationalarchives.gov.uk\"\
              ,\n      \"byteSequenceValue\" : \"4D6963726F736F667420576F7264(20382E30|20392E30|2031302E30|2D446F6B756D656E74)\"\
              ,\n      \"maxOffset\" : \"0\",\n      \"offset\" : \"0\",\n      \"\
              positionType\" : \"Variable\"\n    } ],\n    \"signatureId\" : \"is/182\"\
              ,\n    \"signatureIdNamespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  } ],\n  \"localLastModifiedDate\" : \"2017-07-05T20:22:59Z\",\n\
              \  \"name\" : \"Microsoft Word Document\",\n  \"relatedFormats\" : [\
              \ {\n    \"relatedFormatId\" : \"fmt/39\",\n    \"relatedFormatIdNamespace\"\
              \ : \"http://www.nationalarchives.gov.uk\",\n    \"relatedFormatName\"\
              \ : \"Microsoft Word Document\",\n    \"relatedFormatVersion\" : \"\
              6.0/95\",\n    \"relationshipType\" : \"Is subsequent version of\"\n\
              \  }, {\n    \"relatedFormatId\" : \"fmt/609\",\n    \"relatedFormatIdNamespace\"\
              \ : \"http://www.nationalarchives.gov.uk\",\n    \"relatedFormatName\"\
              \ : \"Microsoft Word (Generic)\",\n    \"relatedFormatVersion\" : \"\
              6.0-2003\",\n    \"relationshipType\" : \"Has priority over\"\n  },\
              \ {\n    \"relatedFormatId\" : \"fmt/111\",\n    \"relatedFormatIdNamespace\"\
              \ : \"http://www.nationalarchives.gov.uk\",\n    \"relatedFormatName\"\
              \ : \"OLE2 Compound Document Format\",\n    \"relatedFormatVersion\"\
              \ : \"\\n      \",\n    \"relationshipType\" : \"Has priority over\"\
              \n  }, {\n    \"relatedFormatId\" : \"x-fmt/45\",\n    \"relatedFormatIdNamespace\"\
              \ : \"http://www.nationalarchives.gov.uk\",\n    \"relatedFormatName\"\
              \ : \"Microsoft Word Document Template\",\n    \"relatedFormatVersion\"\
              \ : \"97-2003\",\n    \"relationshipType\" : \"Has lower priority than\"\
              \n  }, {\n    \"relatedFormatId\" : \"fmt/755\",\n    \"relatedFormatIdNamespace\"\
              \ : \"http://www.nationalarchives.gov.uk\",\n    \"relatedFormatName\"\
              \ : \"Microsoft Word Document Template (Password Protected)\",\n   \
              \ \"relatedFormatVersion\" : \"97-2003\",\n    \"relationshipType\"\
              \ : \"Has lower priority than\"\n  }, {\n    \"relatedFormatId\" : \"\
              fmt/754\",\n    \"relatedFormatIdNamespace\" : \"http://www.nationalarchives.gov.uk\"\
              ,\n    \"relatedFormatName\" : \"Microsoft Word Document (Password Protected)\"\
              ,\n    \"relatedFormatVersion\" : \"97-2003\",\n    \"relationshipType\"\
              \ : \"Has lower priority than\"\n  } ],\n  \"types\" : [ \"Document\"\
              \ ],\n  \"version\" : \"97-2003\"\n}"
          schema:
            $ref: "#/definitions/FileFormat"
        "401":
          description: "If no Authorization header has been supplied."
        "403":
          description: "If the supplied Authorization header does not reference a\
            \ user with write access to this registry."
      x-swagger-router-controller: "swagger_server.controllers.file_formats_controller"
    delete:
      tags:
      - "/file-formats"
      summary: "Delete File Format"
      description: "Deletes the File Format specified by the Name part of the PAR\
        \ Identifier"
      operationId: "file_formats_guid_delete"
      consumes: []
      produces: []
      parameters:
      - name: "guid"
        in: "path"
        required: true
        type: "string"
      - name: "Authorization"
        in: "header"
        description: "HTTP Basic Auth header"
        required: true
        type: "string"
      responses:
        "204":
          description: "File Format successfully deleted."
        "401":
          description: "If no Authorization header has been supplied."
        "403":
          description: "If the supplied Authorization header does not reference a\
            \ user with write access to this registry."
      x-swagger-router-controller: "swagger_server.controllers.file_formats_controller"
  /format-families:
    get:
      tags:
      - "/format-families"
      summary: "Get Format Families"
      description: "Returns an array of Format Families that match all of the filter\
        \ conditions supplied. Any number of filters can be used together.\nThe date\
        \ filters should be supplied as ISO-8601 date times or dates, i.e. yyyy-MM-ddThh:mm:ss.SZ\
        \ or yyyy-MM-dd.\nIf no time information is supplied, then 00:00:00 in UTC\
        \ will be assumed. This means that if you supply modified-after and modified-before\
        \ dates of 2019-01-01 and 2019-12-31, you will not match any Format Families\
        \ modified during the day of 31st December."
      operationId: "format_families_get"
      consumes: []
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "file_format_guid"
        in: "header"
        description: "A comma separated list of guids of file formats (i.e. fmt/1,\
          \ x-fmt/2. This filter matches only those Format Families that include any\
          \ of the specified formats."
        required: false
        type: "string"
      - name: "file_format_name"
        in: "header"
        description: "A comma separated list of names of file formats. This filter\
          \ matches only those Format Families that include any of the specified formats."
        required: false
        type: "string"
      - name: "guid"
        in: "header"
        description: "A comma separated list of GUIDs of Format Families. This filter\
          \ matches only those Format Families that are identified by one of the listed\
          \ GUIDs."
        required: false
        type: "string"
      - name: "name"
        in: "header"
        description: "A comma separated list of names of Format Families. This filter\
          \ matches only those Format Families that are identified by one of the listed\
          \ names."
        required: false
        type: "string"
      - name: "modified_after"
        in: "query"
        description: "This filter matches only those Format Families whose local last\
          \ modified date is after the specified date."
        required: false
        type: "string"
      - name: "modified_before"
        in: "query"
        description: "This filter matches only those Format Families whose local last\
          \ modified date is before the specified date."
        required: false
        type: "string"
      - name: "offset"
        in: "query"
        description: "Used for requesting paged responses, this defines the offset\
          \ of the first Format Family to return from the start of the list of all\
          \ matching Format Families."
        required: false
        type: "integer"
        default: 0
      - name: "limit"
        in: "query"
        description: "Used for requesting paged responses, this defines the maximum\
          \ number of Format Families to return."
        required: false
        type: "integer"
        default: 0
      responses:
        "200":
          description: "Success"
          examples:
            application/json;charset=UTF-8: "{\n  \"formatFamilies\" : [ {\n    \"\
              id\" : {\n      \"guid\" : \"d7df91be-c3d1-51f2-8432-2d9ac63c43e7\"\
              ,\n      \"name\" : \"matroska\",\n      \"namespace\" : \"http://par.preservica.com\"\
              \n    },\n    \"familyType\" : \"Format Group\",\n    \"fileFormats\"\
              \ : [ {\n      \"guid\" : \"4ea966c9-a431-56d1-9c34-5a56c1c4d32b\",\n\
              \      \"name\" : \"fmt/569\",\n      \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n    } ]\n  }, {\n    \"id\" : {\n      \"guid\" : \"402dbdaf-92c9-5d4f-adb0-aeb787a692b3\"\
              ,\n      \"name\" : \"container\",\n      \"namespace\" : \"http://par.preservica.com\"\
              \n    },\n    \"familyType\" : \"Content Type\",\n    \"fileFormats\"\
              \ : [ {\n      \"guid\" : \"ac5ed58c-9059-57d4-ad58-a7206d5fbf12\",\n\
              \      \"name\" : \"fmt/1071\",\n      \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n    }, {\n      \"guid\" : \"da90e482-2c08-57b9-ac63-6ef3c2837ca8\"\
              ,\n      \"name\" : \"fmt/1087\",\n      \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n    }, {\n      \"guid\" : \"fbf38e85-1980-5bb9-be01-1a15d99eb817\"\
              ,\n      \"name\" : \"fmt/289\",\n      \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n    }, {\n      \"guid\" : \"ce998789-ec87-527e-a76d-9c6767fd4adb\"\
              ,\n      \"name\" : \"fmt/410\",\n      \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n    }, {\n      \"guid\" : \"0897d6a7-a4c7-5869-8ed0-add85047fcd0\"\
              ,\n      \"name\" : \"fmt/411\",\n      \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n    }, {\n      \"guid\" : \"d67def5c-a7a8-522a-a193-b76d8c3c77b3\"\
              ,\n      \"name\" : \"fmt/468\",\n      \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n    }, {\n      \"guid\" : \"607c448a-3778-5445-b70f-ddce7d6e84a9\"\
              ,\n      \"name\" : \"fmt/484\",\n      \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n    }, {\n      \"guid\" : \"c3494448-8509-5728-ac7c-f1e8d6150729\"\
              ,\n      \"name\" : \"fmt/625\",\n      \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n    }, {\n      \"guid\" : \"9748cefb-43f7-5d88-aef5-eb5f6e52cf36\"\
              ,\n      \"name\" : \"TSS-fmt/2\",\n      \"namespace\" : \"http://tessella.com\"\
              \n    }, {\n      \"guid\" : \"76d0b902-f0c6-5960-b581-be2a3c9d825f\"\
              ,\n      \"name\" : \"x-fmt/219\",\n      \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n    }, {\n      \"guid\" : \"c2955350-56f8-5198-9193-777f0c022168\"\
              ,\n      \"name\" : \"x-fmt/263\",\n      \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n    }, {\n      \"guid\" : \"7fe92564-d680-5656-9239-2b54ce2664e1\"\
              ,\n      \"name\" : \"x-fmt/264\",\n      \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n    }, {\n      \"guid\" : \"de799ae7-7ae5-5efd-88b9-ac36532a8bde\"\
              ,\n      \"name\" : \"x-fmt/265\",\n      \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n    }, {\n      \"guid\" : \"3d063d8a-4a5a-584c-858f-e476436153bf\"\
              ,\n      \"name\" : \"x-fmt/266\",\n      \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n    }, {\n      \"guid\" : \"010115c8-2844-54d8-a61b-88b89b8694a4\"\
              ,\n      \"name\" : \"x-fmt/267\",\n      \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n    }, {\n      \"guid\" : \"c0b77a9d-919b-5657-9e98-186fc81d2348\"\
              ,\n      \"name\" : \"x-fmt/268\",\n      \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n    }, {\n      \"guid\" : \"76d983f6-1aef-5cc2-941c-32778c3dd241\"\
              ,\n      \"name\" : \"x-fmt/412\",\n      \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n    } ]\n  } ]\n}"
          schema:
            $ref: "#/definitions/FormatFamilies"
      x-swagger-router-controller: "swagger_server.controllers.format_families_controller"
    post:
      tags:
      - "/format-families"
      summary: "Create Format Family"
      description: "Creates a new Format Family and returns the family as created."
      operationId: "format_families_post"
      consumes:
      - "application/json;charset=UTF-8"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "Authorization"
        in: "header"
        description: "HTTP Basic Auth header"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Serialised entity in request body"
        required: false
        schema:
          $ref: "#/definitions/FormatFamily"
      responses:
        "201":
          description: "Success"
          examples:
            application/json;charset=UTF-8: "{\n  \"id\" : {\n    \"guid\" : \"92a903da-be38-5c0c-97f4-c6aff4c98abf\"\
              ,\n    \"name\" : \"ooxmltypes\",\n    \"namespace\" : \"http://par.preservica.com\"\
              \n  },\n  \"familyType\" : \"Open Office XML Formats\",\n  \"fileFormats\"\
              \ : [ {\n    \"guid\" : \"0d0e98d7-f5a4-5002-b3ea-e21c0fa2f06a\",\n\
              \    \"name\" : \"fmt/214\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"30a7b22d-d71a-5bf7-b43a-490579e1d347\",\n\
              \    \"name\" : \"fmt/412\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"bf17f1cd-ecca-5e56-9a8a-7b20da94fa45\",\n\
              \    \"name\" : \"fmt/215\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"3b519ec6-c528-54d4-9702-67e09c76cebe\",\n\
              \    \"name\" : \"fmt/599\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"d026a4dd-ddc2-57e1-9503-2c5d62095827\",\n\
              \    \"name\" : \"fmt/629\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  } ]\n}"
          schema:
            $ref: "#/definitions/FormatFamily"
        "401":
          description: "If no Authorization header has been supplied"
        "403":
          description: "If the supplied Authorization header does not reference a\
            \ user with write access to this registry."
      x-swagger-router-controller: "swagger_server.controllers.format_families_controller"
  /format-families/{guid}:
    get:
      tags:
      - "/format-families"
      summary: "Get a Format Family"
      description: "Returns the Format Family specified by the GUID of the PAR Identifier"
      operationId: "format_families_guid_get"
      consumes: []
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "guid"
        in: "path"
        required: true
        type: "string"
      responses:
        "200":
          description: "Success"
          examples:
            application/json;charset=UTF-8: "{\n  \"id\" : {\n    \"guid\" : \"92a903da-be38-5c0c-97f4-c6aff4c98abf\"\
              ,\n    \"name\" : \"ooxmltypes\",\n    \"namespace\" : \"http://par.preservica.com\"\
              \n  },\n  \"familyType\" : \"Open Office XML Formats\",\n  \"fileFormats\"\
              \ : [ {\n    \"guid\" : \"0d0e98d7-f5a4-5002-b3ea-e21c0fa2f06a\",\n\
              \    \"name\" : \"fmt/214\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"30a7b22d-d71a-5bf7-b43a-490579e1d347\",\n\
              \    \"name\" : \"fmt/412\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"bf17f1cd-ecca-5e56-9a8a-7b20da94fa45\",\n\
              \    \"name\" : \"fmt/215\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"3b519ec6-c528-54d4-9702-67e09c76cebe\",\n\
              \    \"name\" : \"fmt/599\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"d026a4dd-ddc2-57e1-9503-2c5d62095827\",\n\
              \    \"name\" : \"fmt/629\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  } ]\n}"
          schema:
            $ref: "#/definitions/FormatFamily"
        "404":
          description: "If the specified guid does not reference a Format Family known\
            \ to this registry."
      x-swagger-router-controller: "swagger_server.controllers.format_families_controller"
    put:
      tags:
      - "/format-families"
      summary: "Update Format Family"
      description: "Updates the Format Family specified by the GUID of the PAR Identifier\
        \ and returns the family as updated."
      operationId: "format_families_guid_put"
      consumes:
      - "application/json;charset=UTF-8"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "guid"
        in: "path"
        required: true
        type: "string"
      - name: "Authorization"
        in: "header"
        description: "HTTP Basic Auth header"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Serialised entity in request body"
        required: false
        schema:
          $ref: "#/definitions/FormatFamily"
      responses:
        "201":
          description: "Success"
          examples:
            application/json;charset=UTF-8: "{\n  \"id\" : {\n    \"guid\" : \"92a903da-be38-5c0c-97f4-c6aff4c98abf\"\
              ,\n    \"name\" : \"ooxmltypes\",\n    \"namespace\" : \"http://par.preservica.com\"\
              \n  },\n  \"familyType\" : \"Open Office XML Formats\",\n  \"fileFormats\"\
              \ : [ {\n    \"guid\" : \"0d0e98d7-f5a4-5002-b3ea-e21c0fa2f06a\",\n\
              \    \"name\" : \"fmt/214\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"30a7b22d-d71a-5bf7-b43a-490579e1d347\",\n\
              \    \"name\" : \"fmt/412\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"bf17f1cd-ecca-5e56-9a8a-7b20da94fa45\",\n\
              \    \"name\" : \"fmt/215\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"3b519ec6-c528-54d4-9702-67e09c76cebe\",\n\
              \    \"name\" : \"fmt/599\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  }, {\n    \"guid\" : \"d026a4dd-ddc2-57e1-9503-2c5d62095827\",\n\
              \    \"name\" : \"fmt/629\",\n    \"namespace\" : \"http://www.nationalarchives.gov.uk\"\
              \n  } ]\n}"
          schema:
            $ref: "#/definitions/FormatFamily"
        "401":
          description: "If no Authorization header has been supplied."
        "403":
          description: "If the supplied Authorization header does not reference a\
            \ user with write access to this registry."
      x-swagger-router-controller: "swagger_server.controllers.format_families_controller"
    delete:
      tags:
      - "/format-families"
      summary: "Delete Format Family"
      description: "Deletes the Format Family specified by the GUID of the PAR Identifier"
      operationId: "format_families_guid_delete"
      consumes: []
      produces: []
      parameters:
      - name: "guid"
        in: "path"
        required: true
        type: "string"
      - name: "Authorization"
        in: "header"
        description: "HTTP Basic Auth header"
        required: true
        type: "string"
      responses:
        "204":
          description: "Format Family successfully deleted."
        "401":
          description: "If no Authorization header has been supplied."
        "403":
          description: "If the supplied Authorization header does not reference a\
            \ user with write access to this registry."
      x-swagger-router-controller: "swagger_server.controllers.format_families_controller"
  /preservation-action-types:
    get:
      tags:
      - "/preservation-action-types"
      summary: "Get Preservation Action Types"
      description: "Returns an array of Preservation Action Types that match all of\
        \ the filter conditions supplied. Any number of filters can be used together.\n\
        The date filters should be supplied as ISO-8601 date times or dates, i.e.\
        \ yyyy-MM-ddThh:mm:ss.SZ or yyyy-MM-dd.\nIf no time information is supplied,\
        \ then 00:00:00 in UTC will be assumed. This means that if you supply modified-after\
        \ and modified-before dates of 2019-01-01 and 2019-12-31, you will not match\
        \ any Preservation Action Types modified during the day of 31st December."
      operationId: "preservation_action_types_get"
      consumes: []
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "guid"
        in: "header"
        description: "A comma separated list of GUIDs of Preservation Action Types.\
          \ This filter matches only those Preservation Action Types that are identified\
          \ by one of the listed GUIDs."
        required: false
        type: "string"
      - name: "name"
        in: "header"
        description: "A comma separated list of names of Preservation Action Types.\
          \ This filter matches only those Preservation Action Types that are identified\
          \ by one of the listed names."
        required: false
        type: "string"
      - name: "modified_after"
        in: "query"
        description: "This filter matches only those Preservation Action Types whose\
          \ local last modified date is after the specified date."
        required: false
        type: "string"
      - name: "modified_before"
        in: "query"
        description: "This filter matches only those Preservation Action Types whose\
          \ local last modified date is before the specified date."
        required: false
        type: "string"
      - name: "offset"
        in: "query"
        description: "Used for requesting paged responses, this defines the offset\
          \ of the first Preservation Action Type to return from the start of the\
          \ list of all matching Preservation Action Types."
        required: false
        type: "integer"
        default: 0
      - name: "limit"
        in: "query"
        description: "Used for requesting paged responses, this defines the maximum\
          \ number of Preservation Action Types to return."
        required: false
        type: "integer"
        default: 0
      responses:
        "200":
          description: "Success"
          examples:
            application/json;charset=UTF-8: "{\n  \"preservationActionTypes\" : [\
              \ {\n    \"id\" : {\n      \"guid\" : \"5f0fbe10-deec-5965-abbb-2474a857a39f\"\
              ,\n      \"name\" : \"fix\",\n      \"namespace\" : \"http://id.loc.gov/vocabulary/preservation/eventType/\"\
              \n    },\n    \"label\" : \"fixity check\"\n  }, {\n    \"id\" : {\n\
              \      \"guid\" : \"3c2a1229-2aa0-5c0f-bf6b-b270386e4ce9\",\n      \"\
              name\" : \"mee\",\n      \"namespace\" : \"http://id.loc.gov/vocabulary/preservation/eventType/\"\
              \n    },\n    \"label\" : \"metadata extraction\"\n  } ]\n}"
          schema:
            $ref: "#/definitions/PreservationActionTypes"
      x-swagger-router-controller: "swagger_server.controllers.preservation_action_types_controller"
    post:
      tags:
      - "/preservation-action-types"
      summary: "Create Preservation Action Type"
      description: "Creates a new Preservation Action Type and returns the type as\
        \ created."
      operationId: "preservation_action_types_post"
      consumes:
      - "application/json;charset=UTF-8"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "Authorization"
        in: "header"
        description: "HTTP Basic Auth header"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Serialised entity in request body"
        required: false
        schema:
          $ref: "#/definitions/PreservationActionType"
      responses:
        "201":
          description: "Success"
          examples:
            application/json;charset=UTF-8: "{\n  \"id\" : {\n    \"guid\" : \"45bad06c-e2c0-5b46-b740-0cd2ed140a6f\"\
              ,\n    \"name\" : \"mig\",\n    \"namespace\" : \"http://id.loc.gov/vocabulary/preservation/eventType/\"\
              \n  },\n  \"label\" : \"migration\"\n}"
          schema:
            $ref: "#/definitions/PreservationActionType"
        "401":
          description: "If no Authorization header has been supplied"
        "403":
          description: "If the supplied Authorization header does not reference a\
            \ user with write access to this registry."
      x-swagger-router-controller: "swagger_server.controllers.preservation_action_types_controller"
  /preservation-action-types/{guid}:
    get:
      tags:
      - "/preservation-action-types"
      summary: "Get a Preservation Action Type"
      description: "Returns the Preservation Action Type specified by the GUID of\
        \ the PAR Identifier"
      operationId: "preservation_action_types_guid_get"
      consumes: []
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "guid"
        in: "path"
        required: true
        type: "string"
      responses:
        "200":
          description: "Success"
          examples:
            application/json;charset=UTF-8: "{\n  \"id\" : {\n    \"guid\" : \"45bad06c-e2c0-5b46-b740-0cd2ed140a6f\"\
              ,\n    \"name\" : \"mig\",\n    \"namespace\" : \"http://id.loc.gov/vocabulary/preservation/eventType/\"\
              \n  },\n  \"label\" : \"migration\"\n}"
          schema:
            $ref: "#/definitions/PreservationActionType"
        "404":
          description: "If the specified guid does not reference a Preservation Action\
            \ Type known to this registry."
      x-swagger-router-controller: "swagger_server.controllers.preservation_action_types_controller"
    put:
      tags:
      - "/preservation-action-types"
      summary: "Update Preservation Action Type"
      description: "Updates the Preservation Action Type specified by the GUID of\
        \ the PAR Identifier and returns the type as updated."
      operationId: "preservation_action_types_guid_put"
      consumes:
      - "application/json;charset=UTF-8"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "guid"
        in: "path"
        required: true
        type: "string"
      - name: "Authorization"
        in: "header"
        description: "HTTP Basic Auth header"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Serialised entity in request body"
        required: false
        schema:
          $ref: "#/definitions/PreservationActionType"
      responses:
        "201":
          description: "Success"
          examples:
            application/json;charset=UTF-8: "{\n  \"id\" : {\n    \"guid\" : \"45bad06c-e2c0-5b46-b740-0cd2ed140a6f\"\
              ,\n    \"name\" : \"mig\",\n    \"namespace\" : \"http://id.loc.gov/vocabulary/preservation/eventType/\"\
              \n  },\n  \"label\" : \"migration\"\n}"
          schema:
            $ref: "#/definitions/PreservationActionType"
        "401":
          description: "If no Authorization header has been supplied."
        "403":
          description: "If the supplied Authorization header does not reference a\
            \ user with write access to this registry."
      x-swagger-router-controller: "swagger_server.controllers.preservation_action_types_controller"
    delete:
      tags:
      - "/preservation-action-types"
      summary: "Delete Preservation Action Type"
      description: "Deletes the Preservation Action Type specified by the GUID of\
        \ the PAR Identifier"
      operationId: "preservation_action_types_guid_delete"
      consumes: []
      produces: []
      parameters:
      - name: "guid"
        in: "path"
        required: true
        type: "string"
      - name: "Authorization"
        in: "header"
        description: "HTTP Basic Auth header"
        required: true
        type: "string"
      responses:
        "204":
          description: "Preservation Action Type successfully deleted."
        "401":
          description: "If no Authorization header has been supplied."
        "403":
          description: "If the supplied Authorization header does not reference a\
            \ user with write access to this registry."
      x-swagger-router-controller: "swagger_server.controllers.preservation_action_types_controller"
  /preservation-actions:
    get:
      tags:
      - "/preservation-actions"
      summary: "Get Preservation Actions"
      description: "Returns an array of Preservation Actions that match all of the\
        \ filter conditions supplied. Any number of filters can be used together.\n\
        The date filters should be supplied as ISO-8601 date times or dates, i.e.\
        \ yyyy-MM-ddThh:mm:ss.SZ or yyyy-MM-dd.\nIf no time information is supplied,\
        \ then 00:00:00 in UTC will be assumed. This means that if you supply modified-after\
        \ and modified-before dates of 2019-01-01 and 2019-12-31, you will not match\
        \ any Preservation Actions modified during the day of 31st December."
      operationId: "preservation_actions_get"
      consumes: []
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "preservation_action_type_guid"
        in: "header"
        description: "A comma separated list of GUIDs of Preservation Action Types.\
          \ This filter matches only those Preservation Actions of one of the listed\
          \ types of action."
        required: false
        type: "string"
[...]
