openapi: 3.0.0
info:
  title: PAR API
  description: "API to retrieve and update Business Rules, Preservation Actions etc\
    \ from a Preservation Action Registries compliant endpoint"
  version: 1.1-oas3
servers:
- url: https://parcore.org/par
tags:
- name: /business-rules
  description: Requests relating to PAR Business Rule entities
- name: /preservation-actions
  description: Endpoints relating to PAR Preservation Action entities
- name: /tools
  description: Endpoints relating to PAR Tool entities
- name: /file-formats
  description: Endpoints relating to PAR File Format entities.
- name: /representation-formats
  description: Endpoints relating to PAR Representation Format entities
- name: /properties
  description: Endpoints relating to PAR Property entities
- name: /preservation-action-types
  description: Endpoints relating to PAR Preservation Action Type Type entities
- name: /format-families
  description: Endpoints relating to PAR Format Family entities
paths:
  /business-rules:
    get:
      tags:
      - /business-rules
      summary: Get Business Rules
      description: |-
        Returns an array of Business Rules that match all of the filter conditions supplied. Any number of fitlers can be used together.
        The date filters should be supplied as ISO-8601 date times or dates, i.e. yyyy-MM-ddThh:mm:ss.SZ or yyyy-MM-dd.
        If no time information is supplied, then 00:00:00 in UTC will be assumed. This means that if you supply modified-after and modified-before dates of 2019-01-01 and 2019-12-31, you will not match any Business Rules modified during the day of 31st December.
      operationId: business_rules_get
      parameters:
      - name: preservation_action_guid
        in: header
        description: A comma separated list of GUIDs of Preservation Actions. This
          filter matches only those Business Rules whose purpose is to perform one
          of the listed actions.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: preservation_action_name
        in: header
        description: A comma separated list of names of Preservation Actions. This
          filter matches only those Business Rules whose purpose is to perform one
          of the listed actions.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: preservation_action_type_guid
        in: header
        description: A comma separated list of GUIDs of Preservation Action Types.
          This filter matches only those Business Rules whose purpose is to perform
          one of the listed types of action.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: preservation_action_type_name
        in: header
        description: A comma separated list of name of Preservation Action Types.
          This filter matches only those Business Rules whose purpose is to perform
          one of the listed types of action.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: file_format_guid
        in: header
        description: A comma separated list of GUIDs of file formats. This filter
          matches  only those Business Rules that have been defined to apply to one
          of  the listed formats. This includes formats where the rule is  applicable
          indirectly through the format family.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: file_format_name
        in: header
        description: A comma separated list of names of file formats. This filter
          matches  only those Business Rules that have been defined to apply to one
          of  the listed formats. This includes formats where the rule is  applicable
          indirectly through the format family.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: format_family_guid
        in: header
        description: 'A comma separated list of names of formats families. This filter  matches
          only those Business Rules that have been defined to apply to  one of the
          listed format families. '
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: format_family_name
        in: header
        description: 'A comma separated list of names of formats families. This filter  matches
          only those Business Rules that have been defined to apply to  one of the
          listed format families. '
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: guid
        in: header
        description: A comma separated list of GUIDs of Business Rules. This filter
          matches only those Business Rules that are identified by one of the listed
          GUIDs.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: name
        in: header
        description: A comma separated list of names of Business Rules. This filter
          matches only those Business Rules that are identified by one of the listed
          names.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: modified_after
        in: query
        description: This filter matches only those Business Rules whose local last
          modified date is after the specified date.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: modified_before
        in: query
        description: This filter matches only those Business Rules whose local last
          modified date is before the specified date.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: offset
        in: query
        description: "Used for requesting paged responses, this defines the offset\
          \ of the first Business Rule to return from the start of the list of all\
          \ matching Business Rules."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: "Used for requesting paged responses, this defines the maximum\
          \ number of Business Rules to return."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 0
      responses:
        "200":
          description: Success
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/BusinessRules'
              examples:
                response:
                  value: |-
                    {
                      "businessRules" : [ {
                        "id" : {
                          "guid" : "cb2bea88-8006-58fa-a395-dcf0d76a32ee",
                          "name" : "mediainfo-extraction-of-video",
                          "namespace" : "http://par.preservica.com"
                        },
                        "description" : "For property extraction of Video file formats, use the MediaInfo CLI",
                        "formats" : [ {
                          "guid" : "6590d828-10ac-5aa4-aaf8-36f073343432",
                          "name" : "fmt/735",
                          "namespace" : "http://www.nationalarchives.gov.uk"
                        }, {
                          "guid" : "e534e808-9680-5945-8046-5fface23cd93",
                          "name" : "fmt/951",
                          "namespace" : "http://www.nationalarchives.gov.uk"
                        }, {
                          "guid" : "84dbb5f7-b722-5817-8762-e05c1ef17759",
                          "name" : "fmt/973",
                          "namespace" : "http://www.nationalarchives.gov.uk"
                        }, {
                          "guid" : "993a1df3-7da3-5972-b765-431195b3f009",
                          "name" : "fmt/1086",
                          "namespace" : "http://www.nationalarchives.gov.uk"
                        }, {
                          "guid" : "61a35b4f-34c0-51b4-9dd3-8f03c79b69a8",
                          "name" : "x-fmt/139",
                          "namespace" : "http://www.nationalarchives.gov.uk"
                        }, {
                          "guid" : "9fdb2a8d-3143-54c1-a3ae-83f122b5fd4c",
                          "name" : "x-fmt/419",
                          "namespace" : "http://www.nationalarchives.gov.uk"
                        } ],
                        "formatFamilies" : [ {
                          "id" : {
                            "guid" : "60303765-0d86-5f48-a26c-96daec3b754b",
                            "name" : "video",
                            "namespace" : "http://par.preservica.com"
                          },
                          "familyType" : "Video File Formats",
                          "fileFormats" : [ {
                            "guid" : "dfc92377-0582-584b-9bce-661cc365b10d",
                            "name" : "TSS-fmt/4",
                            "namespace" : "http://tessella.com"
                          }, {
                            "guid" : "27a4b10f-9090-556b-9078-50e1c5c83a71",
                            "name" : "fmt/649",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "3a911ebe-77f0-5f8f-bd2d-967c0b04dfbc",
                            "name" : "fmt/506",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "f3252fc5-f9fe-5b4f-925e-edc4653a7ff0",
                            "name" : "fmt/193",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "4a7b6f86-6b6d-50e6-8773-7ea371fe9ce4",
                            "name" : "fmt/786",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "f8fb693b-e2d6-51c8-91b5-ef79fcdcb3bb",
                            "name" : "fmt/131",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "35bbdd65-3556-5080-aeeb-fe466514a05a",
                            "name" : "fmt/499",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "a6935eb3-54c7-56f8-acf0-87563d803142",
                            "name" : "fmt/133",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "1d6dc249-b131-5492-bab2-60d98fa73e02",
                            "name" : "fmt/199",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "614228d4-c022-5679-b74b-6f127d5c4ce8",
                            "name" : "fmt/200",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "9947c06d-591e-56bd-98df-8c15a5d38655",
                            "name" : "TSS-fmt/13",
                            "namespace" : "http://tessella.com"
                          }, {
                            "guid" : "cc6f693f-3e92-5e6c-a5f4-dde355f9b498",
                            "name" : "TSS-fmt/15",
                            "namespace" : "http://tessella.com"
                          }, {
                            "guid" : "36ce7b02-d2cb-5d23-bad3-de475d3e8eea",
                            "name" : "fmt/105",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "f45f2474-f7fb-55a0-a8d6-1f171c4109aa",
                            "name" : "x-fmt/385",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "82c41aa8-bf6a-50ba-97b1-d28f3b25d77a",
                            "name" : "fmt/107",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "eba99ac5-b80b-560f-9d0f-cb371260246d",
                            "name" : "TSS-fmt/11",
                            "namespace" : "http://tessella.com"
                          }, {
                            "guid" : "7e3419fd-2410-54e2-ad71-0982b81acd38",
                            "name" : "fmt/109",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "ec00c475-d655-57f0-b2df-aefe8c0c943e",
                            "name" : "TSS-fmt/9",
                            "namespace" : "http://tessella.com"
                          }, {
                            "guid" : "3ab0c6bd-1772-5224-9e8d-329c5e56deb5",
                            "name" : "fmt/507",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "dfc81f25-27a1-51f0-a437-5a9be605205b",
                            "name" : "fmt/505",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "4b5ee9ea-1528-58dd-b7a5-80099c11a2e7",
                            "name" : "fmt/945",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "4ea966c9-a431-56d1-9c34-5a56c1c4d32b",
                            "name" : "fmt/569",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "80a02837-3b02-5e43-beb8-b8121343da71",
                            "name" : "fmt/1055",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "8bda423a-b6f2-55dc-bd4c-034952d2070a",
                            "name" : "fmt/731",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "83e012dd-d83c-577f-982f-07d2e846e93d",
                            "name" : "fmt/110",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "98bdd321-0f14-5ff8-b174-5470977c4fb4",
                            "name" : "TSS-fmt/3",
                            "namespace" : "http://tessella.com"
                          }, {
                            "guid" : "f21bab26-c3ab-57d0-b1d6-fcdf1d451842",
                            "name" : "fmt/5",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "19b8b2eb-64a5-5e0e-9726-5da7552e9ac2",
                            "name" : "fmt/585",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "e104d7fb-0d2c-55d7-ba89-65cdd41b5be7",
                            "name" : "fmt/640",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "bd2f2266-05bc-52c8-80c1-63d7efa1886a",
                            "name" : "fmt/573",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "b4471a17-e68e-5979-9299-7e9f78772d89",
                            "name" : "TSS-fmt/14",
                            "namespace" : "http://tessella.com"
                          }, {
                            "guid" : "9f7df46e-89d4-57b7-ad22-26e6a9748422",
                            "name" : "x-fmt/386",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "2253f81a-8692-5ddd-8010-99c2a2461360",
                            "name" : "fmt/104",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "2d398b99-4a15-5fb9-93ad-c6dfa86b8d78",
                            "name" : "TSS-fmt/16",
                            "namespace" : "http://tessella.com"
                          }, {
                            "guid" : "a3e220e6-2241-51dc-a00b-cd4e9a11efe7",
                            "name" : "fmt/425",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "f92ffa76-ef89-55df-89ef-94bca58e4e2d",
                            "name" : "TSS-fmt/10",
                            "namespace" : "http://tessella.com"
                          }, {
                            "guid" : "3aa32617-a451-5fe2-856f-b5e0e0b5b968",
                            "name" : "fmt/106",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "8b38c945-081e-5135-bfea-276e2127ce3a",
                            "name" : "fmt/108",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "dd86844e-3988-55ac-bc19-43bfe86be1ba",
                            "name" : "TSS-fmt/12",
                            "namespace" : "http://tessella.com"
                          }, {
                            "guid" : "4341c3b3-d26d-56a7-a2db-5f75fd8aa0a9",
                            "name" : "x-fmt/152",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "0aa8edb4-3078-574a-97fe-34922d2c2ca1",
                            "name" : "x-fmt/384",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "6899a72e-f4d0-5768-a197-40fe3dabffe9",
                            "name" : "x-fmt/190",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "b4450c2f-30d2-55a5-bad8-78c5ba0d1d26",
                            "name" : "x-fmt/382",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          } ]
                        }, {
                          "id" : {
                            "guid" : "ae7ebffb-5140-53a6-9a9a-adbe90953f45",
                            "name" : "asf",
                            "namespace" : "http://par.preservica.com"
                          },
                          "familyType" : "Format Group",
                          "fileFormats" : [ {
                            "guid" : "f8fb693b-e2d6-51c8-91b5-ef79fcdcb3bb",
                            "name" : "fmt/131",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "dfc81f25-27a1-51f0-a437-5a9be605205b",
                            "name" : "fmt/505",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "3a911ebe-77f0-5f8f-bd2d-967c0b04dfbc",
                            "name" : "fmt/506",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "3ab0c6bd-1772-5224-9e8d-329c5e56deb5",
                            "name" : "fmt/507",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "dbd65709-a393-5d73-9b68-0355972532ba",
                            "name" : "x-fmt/137",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          } ]
                        }, {
                          "id" : {
                            "guid" : "7c62e0ea-4846-52d4-b62b-ab99d7084d7d",
                            "name" : "wma",
                            "namespace" : "http://par.preservica.com"
                          },
                          "familyType" : "Format Group",
                          "fileFormats" : [ {
                            "guid" : "eb916390-88b6-5431-b8e3-cf03e44c7554",
                            "name" : "fmt/132",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          } ]
                        }, {
                          "id" : {
                            "guid" : "c6c99061-2702-5b83-98fe-e6f46d1c007b",
                            "name" : "mpeg-audio",
                            "namespace" : "http://par.preservica.com"
                          },
                          "familyType" : "Format Group",
                          "fileFormats" : [ {
                            "guid" : "6efff7b7-3ddb-57ab-85bb-3501ba202afe",
                            "name" : "fmt/134",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "76a512ae-6c0b-5e11-bf2f-714ffa770ea2",
                            "name" : "fmt/198",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "984e8161-82c7-5821-9b08-2ed9580b0fd5",
                            "name" : "fmt/347",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "3a7d7cb5-f8f7-5414-b155-f6558cf9e897",
                            "name" : "x-fmt/279",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          } ]
                        }, {
                          "id" : {
                            "guid" : "ae87efa4-cd5a-5d07-b1b7-251a4fe871c8",
                            "name" : "ogg",
                            "namespace" : "http://par.preservica.com"
                          },
                          "familyType" : "Format Group",
                          "fileFormats" : [ {
                            "guid" : "9ba33cd0-6339-5add-9c10-cd9a430a1d84",
                            "name" : "fmt/203",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "4b5ee9ea-1528-58dd-b7a5-80099c11a2e7",
                            "name" : "fmt/945",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "98adc483-d0cd-58b4-84d8-0d4117b53089",
                            "name" : "fmt/946",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "d67128ec-b34b-525a-a228-0c5cf692b22c",
                            "name" : "fmt/947",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          }, {
                            "guid" : "d04d2361-05d5-582f-a83c-c573f6e34cc1",
                            "name" : "fmt/948",
                            "namespace" : "http://www.nationalarchives.gov.uk"
                          } ]
                        } ],
                        "preservationActionTypes" : [ {
                          "id" : {
                            "guid" : "3c2a1229-2aa0-5c0f-bf6b-b270386e4ce9",
                            "name" : "mee",
                            "namespace" : "http://id.loc.gov/vocabulary/preservation/eventType/"
                          },
                          "label" : "metadata extraction"
                        } ],
                        "preservationActions" : [ {
                          "preservationAction" : {
                            "guid" : "bed3a85b-cd2c-55d7-939b-cfe063479cfa",
                            "name" : "video-extract-mediainfo",
                            "namespace" : "http://par.preservica.com"
                          },
                          "priority" : 1
                        } ],
                        "notes" : "Use MediaInfo for Property Extraction"
                      }, {
                        "id" : {
                          "guid" : "9396cbc6-03d2-5195-ac8e-05017913defc",
                          "name" : "property-extraction-of-camera-raw",
                          "namespace" : "http://par.preservica.com"
                        },
                        "description" : "For Property Extraction of Nikon, Fujifilm, Olympus and Minolta RAW Images use ExifTool",
                        "formats" : [ {
                          "guid" : "026d9445-7056-5824-adf8-0ab7db541319",
                          "name" : "fmt/202",
                          "namespace" : "http://www.nationalarchives.gov.uk"
                        }, {
                          "guid" : "1fff9428-6bf2-5a90-8afd-c560a63d2f33",
                          "name" : "fmt/642",
                          "namespace" : "http://www.nationalarchives.gov.uk"
                        }, {
                          "guid" : "29814d1c-020e-5156-9405-3562137b4295",
                          "name" : "fmt/668",
                          "namespace" : "http://www.nationalarchives.gov.uk"
                        }, {
                          "guid" : "4b8cac87-b6ba-57d4-8f4e-02f35ba32c64",
                          "name" : "fmt/669",
                          "namespace" : "http://www.nationalarchives.gov.uk"
                        } ],
                        "preservationActionTypes" : [ {
                          "id" : {
                            "guid" : "3c2a1229-2aa0-5c0f-bf6b-b270386e4ce9",
                            "name" : "mee",
                            "namespace" : "http://id.loc.gov/vocabulary/preservation/eventType/"
                          },
                          "label" : "metadata extraction"
                        } ],
                        "preservationActions" : [ {
                          "preservationAction" : {
                            "guid" : "272bd75c-a356-5ce2-a143-96b923dc2bd7",
                            "name" : "extract-camera-raw",
                            "namespace" : "http://par.preservica.com"
                          },
                          "priority" : 1
                        } ],
                        "notes" : "Use ExifTool for Nikon, Fujifilm, Olympus and Minolta RAW Image Property Extraction"
                      } ]
                    }
      x-openapi-router-controller: swagger_server.controllers.business_rules_controller
    post:
      tags:
      - /business-rules
      summary: Create Business Rule
      description: Creates a new Business Rule and returns the rule as created.
      operationId: business_rules_post
      parameters:
      - name: Authorization
        in: header
        description: HTTP Basic Auth header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/BusinessRule'
      responses:
        "201":
          description: Success
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/BusinessRule'
              examples:
                response:
                  value: |-
                    {
                      "id" : {
                        "guid" : "85fb1396-7625-55ed-b25c-6f6e75e6b27a",
                        "name" : "web-ready-mp4-migration-ffmpeg",
                        "namespace" : "http://par.preservica.com"
                      },
                      "description" : "Migrate video to web-presentable MP4 using FFmpeg",
                      "formats" : [ {
                        "guid" : "f21bab26-c3ab-57d0-b1d6-fcdf1d451842",
                        "name" : "fmt/5",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "8b38c945-081e-5135-bfea-276e2127ce3a",
                        "name" : "fmt/108",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "7e3419fd-2410-54e2-ad71-0982b81acd38",
                        "name" : "fmt/109",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "f8fb693b-e2d6-51c8-91b5-ef79fcdcb3bb",
                        "name" : "fmt/131",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "a6935eb3-54c7-56f8-acf0-87563d803142",
                        "name" : "fmt/133",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "1d6dc249-b131-5492-bab2-60d98fa73e02",
                        "name" : "fmt/199",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "614228d4-c022-5679-b74b-6f127d5c4ce8",
                        "name" : "fmt/200",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "a3e220e6-2241-51dc-a00b-cd4e9a11efe7",
                        "name" : "fmt/425",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "35bbdd65-3556-5080-aeeb-fe466514a05a",
                        "name" : "fmt/499",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "bd2f2266-05bc-52c8-80c1-63d7efa1886a",
                        "name" : "fmt/573",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "19b8b2eb-64a5-5e0e-9726-5da7552e9ac2",
                        "name" : "fmt/585",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "27a4b10f-9090-556b-9078-50e1c5c83a71",
                        "name" : "fmt/649",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "8bda423a-b6f2-55dc-bd4c-034952d2070a",
                        "name" : "fmt/731",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "4a7b6f86-6b6d-50e6-8773-7ea371fe9ce4",
                        "name" : "fmt/786",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "dc9f3053-a788-5904-9711-3059338bca04",
                        "name" : "fmt/935",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "4b5ee9ea-1528-58dd-b7a5-80099c11a2e7",
                        "name" : "fmt/945",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "4341c3b3-d26d-56a7-a2db-5f75fd8aa0a9",
                        "name" : "x-fmt/152",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "6899a72e-f4d0-5768-a197-40fe3dabffe9",
                        "name" : "x-fmt/190",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "b4450c2f-30d2-55a5-bad8-78c5ba0d1d26",
                        "name" : "x-fmt/382",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "0aa8edb4-3078-574a-97fe-34922d2c2ca1",
                        "name" : "x-fmt/384",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "f45f2474-f7fb-55a0-a8d6-1f171c4109aa",
                        "name" : "x-fmt/385",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "9f7df46e-89d4-57b7-ad22-26e6a9748422",
                        "name" : "x-fmt/386",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      } ],
                      "preservationActionTypes" : [ {
                        "id" : {
                          "guid" : "45bad06c-e2c0-5b46-b740-0cd2ed140a6f",
                          "name" : "mig",
                          "namespace" : "http://id.loc.gov/vocabulary/preservation/eventType/"
                        },
                        "label" : "migration"
                      } ],
                      "preservationActions" : [ {
                        "preservationAction" : {
                          "guid" : "0078de49-50eb-5551-be98-378fa300fdc8",
                          "name" : "ffmpeg-web-ready-migration",
                          "namespace" : "http://par.preservica.com"
                        },
                        "priority" : 1
                      } ],
                      "notes" : "Use FFmpeg for migration of video files to web presentable MP4 using FFmpeg, this uses the AAC audio and H.264 video codecs."
                    }
        "401":
          description: If no Authorization header has been supplied
        "403":
          description: If the supplied Authorization header does not reference a user
            with write access to this registry.
      x-openapi-router-controller: swagger_server.controllers.business_rules_controller
  /business-rules/{guid}:
    get:
      tags:
      - /business-rules
      summary: Get a Business Rule
      description: Returns the Business Rule specified by the GUID of the PAR Identifier
      operationId: business_rules_guid_get
      parameters:
      - name: guid
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/BusinessRule'
              examples:
                response:
                  value: |-
                    {
                      "id" : {
                        "guid" : "85fb1396-7625-55ed-b25c-6f6e75e6b27a",
                        "name" : "web-ready-mp4-migration-ffmpeg",
                        "namespace" : "http://par.preservica.com"
                      },
                      "description" : "Migrate video to web-presentable MP4 using FFmpeg",
                      "formats" : [ {
                        "guid" : "f21bab26-c3ab-57d0-b1d6-fcdf1d451842",
                        "name" : "fmt/5",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "8b38c945-081e-5135-bfea-276e2127ce3a",
                        "name" : "fmt/108",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "7e3419fd-2410-54e2-ad71-0982b81acd38",
                        "name" : "fmt/109",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "f8fb693b-e2d6-51c8-91b5-ef79fcdcb3bb",
                        "name" : "fmt/131",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "a6935eb3-54c7-56f8-acf0-87563d803142",
                        "name" : "fmt/133",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "1d6dc249-b131-5492-bab2-60d98fa73e02",
                        "name" : "fmt/199",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "614228d4-c022-5679-b74b-6f127d5c4ce8",
                        "name" : "fmt/200",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "a3e220e6-2241-51dc-a00b-cd4e9a11efe7",
                        "name" : "fmt/425",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "35bbdd65-3556-5080-aeeb-fe466514a05a",
                        "name" : "fmt/499",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "bd2f2266-05bc-52c8-80c1-63d7efa1886a",
                        "name" : "fmt/573",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "19b8b2eb-64a5-5e0e-9726-5da7552e9ac2",
                        "name" : "fmt/585",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "27a4b10f-9090-556b-9078-50e1c5c83a71",
                        "name" : "fmt/649",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "8bda423a-b6f2-55dc-bd4c-034952d2070a",
                        "name" : "fmt/731",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "4a7b6f86-6b6d-50e6-8773-7ea371fe9ce4",
                        "name" : "fmt/786",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "dc9f3053-a788-5904-9711-3059338bca04",
                        "name" : "fmt/935",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "4b5ee9ea-1528-58dd-b7a5-80099c11a2e7",
                        "name" : "fmt/945",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "4341c3b3-d26d-56a7-a2db-5f75fd8aa0a9",
                        "name" : "x-fmt/152",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "6899a72e-f4d0-5768-a197-40fe3dabffe9",
                        "name" : "x-fmt/190",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "b4450c2f-30d2-55a5-bad8-78c5ba0d1d26",
                        "name" : "x-fmt/382",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "0aa8edb4-3078-574a-97fe-34922d2c2ca1",
                        "name" : "x-fmt/384",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "f45f2474-f7fb-55a0-a8d6-1f171c4109aa",
                        "name" : "x-fmt/385",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "9f7df46e-89d4-57b7-ad22-26e6a9748422",
                        "name" : "x-fmt/386",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      } ],
                      "preservationActionTypes" : [ {
                        "id" : {
                          "guid" : "45bad06c-e2c0-5b46-b740-0cd2ed140a6f",
                          "name" : "mig",
                          "namespace" : "http://id.loc.gov/vocabulary/preservation/eventType/"
                        },
                        "label" : "migration"
                      } ],
                      "preservationActions" : [ {
                        "preservationAction" : {
                          "guid" : "0078de49-50eb-5551-be98-378fa300fdc8",
                          "name" : "ffmpeg-web-ready-migration",
                          "namespace" : "http://par.preservica.com"
                        },
                        "priority" : 1
                      } ],
                      "notes" : "Use FFmpeg for migration of video files to web presentable MP4 using FFmpeg, this uses the AAC audio and H.264 video codecs."
                    }
        "404":
          description: If the specified guid does not reference a Business Rule known
            to this registry.
      x-openapi-router-controller: swagger_server.controllers.business_rules_controller
    put:
      tags:
      - /business-rules
      summary: Update Business Rule
      description: Updates the Business Rule specified by the GUID of the PAR Identifier
        and returns the rule as updated.
      operationId: business_rules_guid_put
      parameters:
      - name: guid
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: HTTP Basic Auth header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/BusinessRule'
      responses:
        "201":
          description: Success
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/BusinessRule'
              examples:
                response:
                  value: |-
                    {
                      "id" : {
                        "guid" : "85fb1396-7625-55ed-b25c-6f6e75e6b27a",
                        "name" : "web-ready-mp4-migration-ffmpeg",
                        "namespace" : "http://par.preservica.com"
                      },
                      "description" : "Migrate video to web-presentable MP4 using FFmpeg",
                      "formats" : [ {
                        "guid" : "f21bab26-c3ab-57d0-b1d6-fcdf1d451842",
                        "name" : "fmt/5",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "8b38c945-081e-5135-bfea-276e2127ce3a",
                        "name" : "fmt/108",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "7e3419fd-2410-54e2-ad71-0982b81acd38",
                        "name" : "fmt/109",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "f8fb693b-e2d6-51c8-91b5-ef79fcdcb3bb",
                        "name" : "fmt/131",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "a6935eb3-54c7-56f8-acf0-87563d803142",
                        "name" : "fmt/133",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "1d6dc249-b131-5492-bab2-60d98fa73e02",
                        "name" : "fmt/199",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "614228d4-c022-5679-b74b-6f127d5c4ce8",
                        "name" : "fmt/200",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "a3e220e6-2241-51dc-a00b-cd4e9a11efe7",
                        "name" : "fmt/425",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "35bbdd65-3556-5080-aeeb-fe466514a05a",
                        "name" : "fmt/499",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "bd2f2266-05bc-52c8-80c1-63d7efa1886a",
                        "name" : "fmt/573",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "19b8b2eb-64a5-5e0e-9726-5da7552e9ac2",
                        "name" : "fmt/585",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "27a4b10f-9090-556b-9078-50e1c5c83a71",
                        "name" : "fmt/649",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "8bda423a-b6f2-55dc-bd4c-034952d2070a",
                        "name" : "fmt/731",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "4a7b6f86-6b6d-50e6-8773-7ea371fe9ce4",
                        "name" : "fmt/786",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "dc9f3053-a788-5904-9711-3059338bca04",
                        "name" : "fmt/935",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "4b5ee9ea-1528-58dd-b7a5-80099c11a2e7",
                        "name" : "fmt/945",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "4341c3b3-d26d-56a7-a2db-5f75fd8aa0a9",
                        "name" : "x-fmt/152",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "6899a72e-f4d0-5768-a197-40fe3dabffe9",
                        "name" : "x-fmt/190",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "b4450c2f-30d2-55a5-bad8-78c5ba0d1d26",
                        "name" : "x-fmt/382",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "0aa8edb4-3078-574a-97fe-34922d2c2ca1",
                        "name" : "x-fmt/384",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "f45f2474-f7fb-55a0-a8d6-1f171c4109aa",
                        "name" : "x-fmt/385",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "9f7df46e-89d4-57b7-ad22-26e6a9748422",
                        "name" : "x-fmt/386",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      } ],
                      "preservationActionTypes" : [ {
                        "id" : {
                          "guid" : "45bad06c-e2c0-5b46-b740-0cd2ed140a6f",
                          "name" : "mig",
                          "namespace" : "http://id.loc.gov/vocabulary/preservation/eventType/"
                        },
                        "label" : "migration"
                      } ],
                      "preservationActions" : [ {
                        "preservationAction" : {
                          "guid" : "0078de49-50eb-5551-be98-378fa300fdc8",
                          "name" : "ffmpeg-web-ready-migration",
                          "namespace" : "http://par.preservica.com"
                        },
                        "priority" : 1
                      } ],
                      "notes" : "Use FFmpeg for migration of video files to web presentable MP4 using FFmpeg, this uses the AAC audio and H.264 video codecs."
                    }
        "401":
          description: If no Authorization header has been supplied.
        "403":
          description: If the supplied Authorization header does not reference a user
            with write access to this registry.
      x-openapi-router-controller: swagger_server.controllers.business_rules_controller
    delete:
      tags:
      - /business-rules
      summary: Delete Business Rule
      description: Deletes the Business Rule specified by the GUID of the PAR Identifier
      operationId: business_rules_guid_delete
      parameters:
      - name: guid
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: HTTP Basic Auth header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Business Rule successfully deleted.
        "401":
          description: If no Authorization header has been supplied.
        "403":
          description: If the supplied Authorization header does not reference a user
            with write access to this registry.
      x-openapi-router-controller: swagger_server.controllers.business_rules_controller
  /file-formats:
    get:
      tags:
      - /file-formats
      summary: Get File Formats
      description: |-
        Returns an array of File Formats that match all of the filter conditions supplied. Any number of filters can be used together.
        The date filters should be supplied as ISO-8601 date times or dates, i.e. yyyy-MM-ddThh:mm:ss.SZ or yyyy-MM-dd.
        If no time information is supplied, then 00:00:00 in UTC will be assumed. This means that if you supply modified-after and modified-before dates of 2019-01-01 and 2019-12-31, you will not match any FileFormats modified during the day of 31st December.
      operationId: file_formats_get
      parameters:
      - name: guid
        in: header
        description: A comma separated list of the GUIDs of File Formats. This filter
          matches only those File Formats that are identified by one of the listed
          GUIDs.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: name
        in: header
        description: A comma separated list of the names of File Formats. This filter
          matches only those File Formats that are identified by one of the listed
          names.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: modified_after
        in: query
        description: This filter matches only those File Formats whose local last
          modified date is after the specified date.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: modified_before
        in: query
        description: This filter matches only those File Formats whose local last
          modified date is before the specified date.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: offset
        in: query
        description: "Used for requesting paged responses, this defines the offset\
          \ of the first FileFormat to return from the start of the list of all matching\
          \ File Formats."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: "Used for requesting paged responses, this defines the maximum\
          \ number of FileFormats to return."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 0
      responses:
        "200":
          description: Success
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/FileFormats'
              examples:
                response:
                  value: |-
                    {
                      "fileFormats" : [ {
                        "description" : "This is an outline record only, and requires further details, research or authentication to provide information that will enable users to further understand the format and to assess digital preservation risks associated with it if appropriate.",
                        "externalSignatures" : [ {
                          "signature" : "f4a",
                          "signatureType" : "File Extension"
                        }, {
                          "signature" : "m4v",
                          "signatureType" : "File Extension"
                        }, {
                          "signature" : "m4a",
                          "signatureType" : "File Extension"
                        }, {
                          "signature" : "f4v",
                          "signatureType" : "File Extension"
                        }, {
                          "signature" : "mp4",
                          "signatureType" : "File Extension"
                        } ],
                        "id" : {
                          "guid" : "1d6dc249-b131-5492-bab2-60d98fa73e02",
                          "name" : "fmt/199",
                          "namespace" : "http://www.nationalarchives.gov.uk"
                        },
                        "internalSignatures" : [ {
                          "byteSequences" : [ {
                            "byteSequenceId" : "bs/357",
                            "byteSequenceIdNamespace" : "http://www.nationalarchives.gov.uk",
                            "byteSequenceValue" : "66747970{0-64}(6D703432|6D703431|69736F6D|69736F32)*6D6F6F76",
                            "maxOffset" : "0",
                            "offset" : "4",
                            "positionType" : "Absolute from BOF"
                          } ],
                          "signatureId" : "is/278",
                          "signatureIdNamespace" : "http://www.nationalarchives.gov.uk"
                        } ],
                        "localLastModifiedDate" : "2017-07-05T20:22:48Z",
                        "name" : "MPEG-4 Media File",
                        "relatedFormats" : [ {
                          "relatedFormatId" : "x-fmt/384",
                          "relatedFormatIdNamespace" : "http://www.nationalarchives.gov.uk",
                          "relatedFormatName" : "Quicktime",
                          "relatedFormatVersion" : "\n      ",
                          "relationshipType" : "Has priority over"
                        }, {
                          "relatedFormatId" : "fmt/596",
                          "relatedFormatIdNamespace" : "http://www.nationalarchives.gov.uk",
                          "relatedFormatName" : "Apple Lossless Audio Codec",
                          "relatedFormatVersion" : "\n      ",
                          "relationshipType" : "Has lower priority than"
                        }, {
                          "relatedFormatId" : "fmt/357",
                          "relatedFormatIdNamespace" : "http://www.nationalarchives.gov.uk",
                          "relatedFormatName" : "3GPP Audio/Video File",
                          "relatedFormatVersion" : "\n      ",
                          "relationshipType" : "Has lower priority than"
                        } ],
                        "types" : [ "Video" ],
                        "version" : "\n      "
                      }, {
                        "description" : "MPEG-2 is a lossy compression standard (an improvement and expansion of the MPEG-1 standard) designed for the generic coding of video and audio and intended to cover a wide scope of application, including: video production, broadcast and editing. Streams are at potentially higher bitrates than MPEG-1 but more efficient compression making it suited to High Definition video. MPEG-2 Video supports both 'progressive' and 'interlaced' frame video. An MPG-2 ‘Program’ stream (PS) file (*.mpg, *.mpeg) generally contain both video and audio streams, generally for synchronised playback, and may carry a variety of other data (e.g. video captions).\n\nSome camcorders store their MPEG-2 Program Stream video data as files with the .mod extension, usually alongside other files containing metadata and management information for the video.",
                        "externalSignatures" : [ {
                          "signature" : "mod",
                          "signatureType" : "File Extension"
                        }, {
                          "signature" : "mpeg",
                          "signatureType" : "File Extension"
                        }, {
                          "signature" : "mpg",
                          "signatureType" : "File Extension"
                        } ],
                        "id" : {
                          "guid" : "9f7df46e-89d4-57b7-ad22-26e6a9748422",
                          "name" : "x-fmt/386",
                          "namespace" : "http://www.nationalarchives.gov.uk"
                        },
                        "identifiers" : [ {
                          "identifier" : "x-fmt/386",
                          "identifierType" : "PUID"
                        }, {
                          "identifier" : "video/mpeg",
                          "identifierType" : "MIME"
                        } ],
                        "internalSignatures" : [ {
                          "byteSequences" : [ {
                            "byteSequenceId" : "bs/800",
                            "byteSequenceIdNamespace" : "http://www.nationalarchives.gov.uk",
                            "byteSequenceValue" : "000001BA{8-12}000001BB{8-65536}000001B3{8-136}000001B5",
                            "maxOffset" : "0",
                            "offset" : "0",
                            "positionType" : "Absolute from BOF"
                          } ],
                          "signatureId" : "is/655",
                          "signatureIdNamespace" : "http://www.nationalarchives.gov.uk"
                        } ],
                        "localLastModifiedDate" : "2019-07-30T19:28:46Z",
                        "name" : "MPEG-2 Program Stream",
                        "relatedFormats" : [ {
                          "relatedFormatId" : "x-fmt/385",
                          "relatedFormatIdNamespace" : "http://www.nationalarchives.gov.uk",
                          "relatedFormatName" : "MPEG-1 Program Stream",
                          "relatedFormatVersion" : "\n      ",
                          "relationshipType" : "Has priority over"
                        }, {
                          "relatedFormatId" : "fmt/425",
                          "relatedFormatIdNamespace" : "http://www.nationalarchives.gov.uk",
                          "relatedFormatName" : "Video Object File (MPEG-2 subset)",
                          "relatedFormatVersion" : "\n      ",
                          "relationshipType" : "Has lower priority than"
                        } ],
                        "types" : [ "Video" ],
                        "version" : "\n      "
                      } ]
                    }
      x-openapi-router-controller: swagger_server.controllers.file_formats_controller
    post:
      tags:
      - /file-formats
      summary: Create File Format
      description: Creates a new File Format and returns the fileFormat as created.
      operationId: file_formats_post
      parameters:
      - name: Authorization
        in: header
        description: HTTP Basic Auth header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/FileFormat'
      responses:
        "201":
          description: Success
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/FileFormat'
              examples:
                response:
                  value: |-
                    {
                      "description" : "With the release of Word 97, Microsoft revised the native binary word processing format, which is based on its generic OLE2 Compound Document Format. The format is proprietary and Microsoft does not make details of its structure public. The information here is derived primarily from OpenOffice.org's reverse-engineered documentation of the format and should not therefore be regarded as definitive. A Word document is stored as a ‘WordDocument’ stream within a Compound Document Format file. The format remained unchanged with the releases of Word 2000, 2002 and 2003. An alternative extension of .wbk refers to a backup file of a Word document, however there is no material or structural difference between a .wbk file and the .doc file it is a backup of.",
                      "externalSignatures" : [ {
                        "signature" : "wbk",
                        "signatureType" : "File Extension"
                      }, {
                        "signature" : "doc",
                        "signatureType" : "File Extension"
                      } ],
                      "id" : {
                        "guid" : "fd71f444-9a3b-533b-89a0-aec2404db911",
                        "name" : "fmt/40",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      },
                      "identifiers" : [ {
                        "identifier" : "fmt/40",
                        "identifierType" : "PUID"
                      }, {
                        "identifier" : "application/msword",
                        "identifierType" : "MIME"
                      } ],
                      "internalSignatures" : [ {
                        "byteSequences" : [ {
                          "byteSequenceId" : "bs/223",
                          "byteSequenceIdNamespace" : "http://www.nationalarchives.gov.uk",
                          "byteSequenceValue" : "57006F007200640044006F00630075006D0065006E007400{42}02(00|01)",
                          "maxOffset" : "0",
                          "offset" : "0",
                          "positionType" : "Variable"
                        }, {
                          "byteSequenceId" : "bs/222",
                          "byteSequenceIdNamespace" : "http://www.nationalarchives.gov.uk",
                          "byteSequenceValue" : "D0CF11E0A1B11AE1{20}FEFF",
                          "maxOffset" : "0",
                          "offset" : "0",
                          "positionType" : "Absolute from BOF"
                        }, {
                          "byteSequenceId" : "bs/224",
                          "byteSequenceIdNamespace" : "http://www.nationalarchives.gov.uk",
                          "byteSequenceValue" : "4D6963726F736F667420576F7264(20382E30|20392E30|2031302E30|2D446F6B756D656E74)",
                          "maxOffset" : "0",
                          "offset" : "0",
                          "positionType" : "Variable"
                        } ],
                        "signatureId" : "is/182",
                        "signatureIdNamespace" : "http://www.nationalarchives.gov.uk"
                      } ],
                      "localLastModifiedDate" : "2017-07-05T20:22:59Z",
                      "name" : "Microsoft Word Document",
                      "relatedFormats" : [ {
                        "relatedFormatId" : "fmt/39",
                        "relatedFormatIdNamespace" : "http://www.nationalarchives.gov.uk",
                        "relatedFormatName" : "Microsoft Word Document",
                        "relatedFormatVersion" : "6.0/95",
                        "relationshipType" : "Is subsequent version of"
                      }, {
                        "relatedFormatId" : "fmt/609",
                        "relatedFormatIdNamespace" : "http://www.nationalarchives.gov.uk",
                        "relatedFormatName" : "Microsoft Word (Generic)",
                        "relatedFormatVersion" : "6.0-2003",
                        "relationshipType" : "Has priority over"
                      }, {
                        "relatedFormatId" : "fmt/111",
                        "relatedFormatIdNamespace" : "http://www.nationalarchives.gov.uk",
                        "relatedFormatName" : "OLE2 Compound Document Format",
                        "relatedFormatVersion" : "\n      ",
                        "relationshipType" : "Has priority over"
                      }, {
                        "relatedFormatId" : "x-fmt/45",
                        "relatedFormatIdNamespace" : "http://www.nationalarchives.gov.uk",
                        "relatedFormatName" : "Microsoft Word Document Template",
                        "relatedFormatVersion" : "97-2003",
                        "relationshipType" : "Has lower priority than"
                      }, {
                        "relatedFormatId" : "fmt/755",
                        "relatedFormatIdNamespace" : "http://www.nationalarchives.gov.uk",
                        "relatedFormatName" : "Microsoft Word Document Template (Password Protected)",
                        "relatedFormatVersion" : "97-2003",
                        "relationshipType" : "Has lower priority than"
                      }, {
                        "relatedFormatId" : "fmt/754",
                        "relatedFormatIdNamespace" : "http://www.nationalarchives.gov.uk",
                        "relatedFormatName" : "Microsoft Word Document (Password Protected)",
                        "relatedFormatVersion" : "97-2003",
                        "relationshipType" : "Has lower priority than"
                      } ],
                      "types" : [ "Document" ],
                      "version" : "97-2003"
                    }
        "401":
          description: If no Authorization header has been supplied
        "403":
          description: If the supplied Authorization header does not reference a user
            with write access to this registry.
      x-openapi-router-controller: swagger_server.controllers.file_formats_controller
  /file-formats/{guid}:
    get:
      tags:
      - /file-formats
      summary: Get a File Format
      description: Returns the File Format specified by the Name part of the PAR Identifier
      operationId: file_formats_guid_get
      parameters:
      - name: guid
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/FileFormat'
              examples:
                response:
                  value: |-
                    {
                      "description" : "With the release of Word 97, Microsoft revised the native binary word processing format, which is based on its generic OLE2 Compound Document Format. The format is proprietary and Microsoft does not make details of its structure public. The information here is derived primarily from OpenOffice.org's reverse-engineered documentation of the format and should not therefore be regarded as definitive. A Word document is stored as a ‘WordDocument’ stream within a Compound Document Format file. The format remained unchanged with the releases of Word 2000, 2002 and 2003. An alternative extension of .wbk refers to a backup file of a Word document, however there is no material or structural difference between a .wbk file and the .doc file it is a backup of.",
                      "externalSignatures" : [ {
                        "signature" : "wbk",
                        "signatureType" : "File Extension"
                      }, {
                        "signature" : "doc",
                        "signatureType" : "File Extension"
                      } ],
                      "id" : {
                        "guid" : "fd71f444-9a3b-533b-89a0-aec2404db911",
                        "name" : "fmt/40",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      },
                      "identifiers" : [ {
                        "identifier" : "fmt/40",
                        "identifierType" : "PUID"
                      }, {
                        "identifier" : "application/msword",
                        "identifierType" : "MIME"
                      } ],
                      "internalSignatures" : [ {
                        "byteSequences" : [ {
                          "byteSequenceId" : "bs/223",
                          "byteSequenceIdNamespace" : "http://www.nationalarchives.gov.uk",
                          "byteSequenceValue" : "57006F007200640044006F00630075006D0065006E007400{42}02(00|01)",
                          "maxOffset" : "0",
                          "offset" : "0",
                          "positionType" : "Variable"
                        }, {
                          "byteSequenceId" : "bs/222",
                          "byteSequenceIdNamespace" : "http://www.nationalarchives.gov.uk",
                          "byteSequenceValue" : "D0CF11E0A1B11AE1{20}FEFF",
                          "maxOffset" : "0",
                          "offset" : "0",
                          "positionType" : "Absolute from BOF"
                        }, {
                          "byteSequenceId" : "bs/224",
                          "byteSequenceIdNamespace" : "http://www.nationalarchives.gov.uk",
                          "byteSequenceValue" : "4D6963726F736F667420576F7264(20382E30|20392E30|2031302E30|2D446F6B756D656E74)",
                          "maxOffset" : "0",
                          "offset" : "0",
                          "positionType" : "Variable"
                        } ],
                        "signatureId" : "is/182",
                        "signatureIdNamespace" : "http://www.nationalarchives.gov.uk"
                      } ],
                      "localLastModifiedDate" : "2017-07-05T20:22:59Z",
                      "name" : "Microsoft Word Document",
                      "relatedFormats" : [ {
                        "relatedFormatId" : "fmt/39",
                        "relatedFormatIdNamespace" : "http://www.nationalarchives.gov.uk",
                        "relatedFormatName" : "Microsoft Word Document",
                        "relatedFormatVersion" : "6.0/95",
                        "relationshipType" : "Is subsequent version of"
                      }, {
                        "relatedFormatId" : "fmt/609",
                        "relatedFormatIdNamespace" : "http://www.nationalarchives.gov.uk",
                        "relatedFormatName" : "Microsoft Word (Generic)",
                        "relatedFormatVersion" : "6.0-2003",
                        "relationshipType" : "Has priority over"
                      }, {
                        "relatedFormatId" : "fmt/111",
                        "relatedFormatIdNamespace" : "http://www.nationalarchives.gov.uk",
                        "relatedFormatName" : "OLE2 Compound Document Format",
                        "relatedFormatVersion" : "\n      ",
                        "relationshipType" : "Has priority over"
                      }, {
                        "relatedFormatId" : "x-fmt/45",
                        "relatedFormatIdNamespace" : "http://www.nationalarchives.gov.uk",
                        "relatedFormatName" : "Microsoft Word Document Template",
                        "relatedFormatVersion" : "97-2003",
                        "relationshipType" : "Has lower priority than"
                      }, {
                        "relatedFormatId" : "fmt/755",
                        "relatedFormatIdNamespace" : "http://www.nationalarchives.gov.uk",
                        "relatedFormatName" : "Microsoft Word Document Template (Password Protected)",
                        "relatedFormatVersion" : "97-2003",
                        "relationshipType" : "Has lower priority than"
                      }, {
                        "relatedFormatId" : "fmt/754",
                        "relatedFormatIdNamespace" : "http://www.nationalarchives.gov.uk",
                        "relatedFormatName" : "Microsoft Word Document (Password Protected)",
                        "relatedFormatVersion" : "97-2003",
                        "relationshipType" : "Has lower priority than"
                      } ],
                      "types" : [ "Document" ],
                      "version" : "97-2003"
                    }
        "404":
          description: If the specified name does not reference a File Format known
            to this registry.
      x-openapi-router-controller: swagger_server.controllers.file_formats_controller
    put:
      tags:
      - /file-formats
      summary: Update File Format
      description: Updates the File Format specified by the Name part of the PAR Identifier
        and returns the file format as updated.
      operationId: file_formats_guid_put
      parameters:
      - name: guid
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: HTTP Basic Auth header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/FileFormat'
      responses:
        "201":
          description: Success
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/FileFormat'
              examples:
                response:
                  value: |-
                    {
                      "description" : "With the release of Word 97, Microsoft revised the native binary word processing format, which is based on its generic OLE2 Compound Document Format. The format is proprietary and Microsoft does not make details of its structure public. The information here is derived primarily from OpenOffice.org's reverse-engineered documentation of the format and should not therefore be regarded as definitive. A Word document is stored as a ‘WordDocument’ stream within a Compound Document Format file. The format remained unchanged with the releases of Word 2000, 2002 and 2003. An alternative extension of .wbk refers to a backup file of a Word document, however there is no material or structural difference between a .wbk file and the .doc file it is a backup of.",
                      "externalSignatures" : [ {
                        "signature" : "wbk",
                        "signatureType" : "File Extension"
                      }, {
                        "signature" : "doc",
                        "signatureType" : "File Extension"
                      } ],
                      "id" : {
                        "guid" : "fd71f444-9a3b-533b-89a0-aec2404db911",
                        "name" : "fmt/40",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      },
                      "identifiers" : [ {
                        "identifier" : "fmt/40",
                        "identifierType" : "PUID"
                      }, {
                        "identifier" : "application/msword",
                        "identifierType" : "MIME"
                      } ],
                      "internalSignatures" : [ {
                        "byteSequences" : [ {
                          "byteSequenceId" : "bs/223",
                          "byteSequenceIdNamespace" : "http://www.nationalarchives.gov.uk",
                          "byteSequenceValue" : "57006F007200640044006F00630075006D0065006E007400{42}02(00|01)",
                          "maxOffset" : "0",
                          "offset" : "0",
                          "positionType" : "Variable"
                        }, {
                          "byteSequenceId" : "bs/222",
                          "byteSequenceIdNamespace" : "http://www.nationalarchives.gov.uk",
                          "byteSequenceValue" : "D0CF11E0A1B11AE1{20}FEFF",
                          "maxOffset" : "0",
                          "offset" : "0",
                          "positionType" : "Absolute from BOF"
                        }, {
                          "byteSequenceId" : "bs/224",
                          "byteSequenceIdNamespace" : "http://www.nationalarchives.gov.uk",
                          "byteSequenceValue" : "4D6963726F736F667420576F7264(20382E30|20392E30|2031302E30|2D446F6B756D656E74)",
                          "maxOffset" : "0",
                          "offset" : "0",
                          "positionType" : "Variable"
                        } ],
                        "signatureId" : "is/182",
                        "signatureIdNamespace" : "http://www.nationalarchives.gov.uk"
                      } ],
                      "localLastModifiedDate" : "2017-07-05T20:22:59Z",
                      "name" : "Microsoft Word Document",
                      "relatedFormats" : [ {
                        "relatedFormatId" : "fmt/39",
                        "relatedFormatIdNamespace" : "http://www.nationalarchives.gov.uk",
                        "relatedFormatName" : "Microsoft Word Document",
                        "relatedFormatVersion" : "6.0/95",
                        "relationshipType" : "Is subsequent version of"
                      }, {
                        "relatedFormatId" : "fmt/609",
                        "relatedFormatIdNamespace" : "http://www.nationalarchives.gov.uk",
                        "relatedFormatName" : "Microsoft Word (Generic)",
                        "relatedFormatVersion" : "6.0-2003",
                        "relationshipType" : "Has priority over"
                      }, {
                        "relatedFormatId" : "fmt/111",
                        "relatedFormatIdNamespace" : "http://www.nationalarchives.gov.uk",
                        "relatedFormatName" : "OLE2 Compound Document Format",
                        "relatedFormatVersion" : "\n      ",
                        "relationshipType" : "Has priority over"
                      }, {
                        "relatedFormatId" : "x-fmt/45",
                        "relatedFormatIdNamespace" : "http://www.nationalarchives.gov.uk",
                        "relatedFormatName" : "Microsoft Word Document Template",
                        "relatedFormatVersion" : "97-2003",
                        "relationshipType" : "Has lower priority than"
                      }, {
                        "relatedFormatId" : "fmt/755",
                        "relatedFormatIdNamespace" : "http://www.nationalarchives.gov.uk",
                        "relatedFormatName" : "Microsoft Word Document Template (Password Protected)",
                        "relatedFormatVersion" : "97-2003",
                        "relationshipType" : "Has lower priority than"
                      }, {
                        "relatedFormatId" : "fmt/754",
                        "relatedFormatIdNamespace" : "http://www.nationalarchives.gov.uk",
                        "relatedFormatName" : "Microsoft Word Document (Password Protected)",
                        "relatedFormatVersion" : "97-2003",
                        "relationshipType" : "Has lower priority than"
                      } ],
                      "types" : [ "Document" ],
                      "version" : "97-2003"
                    }
        "401":
          description: If no Authorization header has been supplied.
        "403":
          description: If the supplied Authorization header does not reference a user
            with write access to this registry.
      x-openapi-router-controller: swagger_server.controllers.file_formats_controller
    delete:
      tags:
      - /file-formats
      summary: Delete File Format
      description: Deletes the File Format specified by the Name part of the PAR Identifier
      operationId: file_formats_guid_delete
      parameters:
      - name: guid
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: HTTP Basic Auth header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: File Format successfully deleted.
        "401":
          description: If no Authorization header has been supplied.
        "403":
          description: If the supplied Authorization header does not reference a user
            with write access to this registry.
      x-openapi-router-controller: swagger_server.controllers.file_formats_controller
  /format-families:
    get:
      tags:
      - /format-families
      summary: Get Format Families
      description: |-
        Returns an array of Format Families that match all of the filter conditions supplied. Any number of filters can be used together.
        The date filters should be supplied as ISO-8601 date times or dates, i.e. yyyy-MM-ddThh:mm:ss.SZ or yyyy-MM-dd.
        If no time information is supplied, then 00:00:00 in UTC will be assumed. This means that if you supply modified-after and modified-before dates of 2019-01-01 and 2019-12-31, you will not match any Format Families modified during the day of 31st December.
      operationId: format_families_get
      parameters:
      - name: file_format_guid
        in: header
        description: "A comma separated list of guids of file formats (i.e. fmt/1,\
          \ x-fmt/2. This filter matches only those Format Families that include any\
          \ of the specified formats."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: file_format_name
        in: header
        description: A comma separated list of names of file formats. This filter
          matches only those Format Families that include any of the specified formats.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: guid
        in: header
        description: A comma separated list of GUIDs of Format Families. This filter
          matches only those Format Families that are identified by one of the listed
          GUIDs.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: name
        in: header
        description: A comma separated list of names of Format Families. This filter
          matches only those Format Families that are identified by one of the listed
          names.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: modified_after
        in: query
        description: This filter matches only those Format Families whose local last
          modified date is after the specified date.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: modified_before
        in: query
        description: This filter matches only those Format Families whose local last
          modified date is before the specified date.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: offset
        in: query
        description: "Used for requesting paged responses, this defines the offset\
          \ of the first Format Family to return from the start of the list of all\
          \ matching Format Families."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: "Used for requesting paged responses, this defines the maximum\
          \ number of Format Families to return."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 0
      responses:
        "200":
          description: Success
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/FormatFamilies'
              examples:
                response:
                  value: |-
                    {
                      "formatFamilies" : [ {
                        "id" : {
                          "guid" : "d7df91be-c3d1-51f2-8432-2d9ac63c43e7",
                          "name" : "matroska",
                          "namespace" : "http://par.preservica.com"
                        },
                        "familyType" : "Format Group",
                        "fileFormats" : [ {
                          "guid" : "4ea966c9-a431-56d1-9c34-5a56c1c4d32b",
                          "name" : "fmt/569",
                          "namespace" : "http://www.nationalarchives.gov.uk"
                        } ]
                      }, {
                        "id" : {
                          "guid" : "402dbdaf-92c9-5d4f-adb0-aeb787a692b3",
                          "name" : "container",
                          "namespace" : "http://par.preservica.com"
                        },
                        "familyType" : "Content Type",
                        "fileFormats" : [ {
                          "guid" : "ac5ed58c-9059-57d4-ad58-a7206d5fbf12",
                          "name" : "fmt/1071",
                          "namespace" : "http://www.nationalarchives.gov.uk"
                        }, {
                          "guid" : "da90e482-2c08-57b9-ac63-6ef3c2837ca8",
                          "name" : "fmt/1087",
                          "namespace" : "http://www.nationalarchives.gov.uk"
                        }, {
                          "guid" : "fbf38e85-1980-5bb9-be01-1a15d99eb817",
                          "name" : "fmt/289",
                          "namespace" : "http://www.nationalarchives.gov.uk"
                        }, {
                          "guid" : "ce998789-ec87-527e-a76d-9c6767fd4adb",
                          "name" : "fmt/410",
                          "namespace" : "http://www.nationalarchives.gov.uk"
                        }, {
                          "guid" : "0897d6a7-a4c7-5869-8ed0-add85047fcd0",
                          "name" : "fmt/411",
                          "namespace" : "http://www.nationalarchives.gov.uk"
                        }, {
                          "guid" : "d67def5c-a7a8-522a-a193-b76d8c3c77b3",
                          "name" : "fmt/468",
                          "namespace" : "http://www.nationalarchives.gov.uk"
                        }, {
                          "guid" : "607c448a-3778-5445-b70f-ddce7d6e84a9",
                          "name" : "fmt/484",
                          "namespace" : "http://www.nationalarchives.gov.uk"
                        }, {
                          "guid" : "c3494448-8509-5728-ac7c-f1e8d6150729",
                          "name" : "fmt/625",
                          "namespace" : "http://www.nationalarchives.gov.uk"
                        }, {
                          "guid" : "9748cefb-43f7-5d88-aef5-eb5f6e52cf36",
                          "name" : "TSS-fmt/2",
                          "namespace" : "http://tessella.com"
                        }, {
                          "guid" : "76d0b902-f0c6-5960-b581-be2a3c9d825f",
                          "name" : "x-fmt/219",
                          "namespace" : "http://www.nationalarchives.gov.uk"
                        }, {
                          "guid" : "c2955350-56f8-5198-9193-777f0c022168",
                          "name" : "x-fmt/263",
                          "namespace" : "http://www.nationalarchives.gov.uk"
                        }, {
                          "guid" : "7fe92564-d680-5656-9239-2b54ce2664e1",
                          "name" : "x-fmt/264",
                          "namespace" : "http://www.nationalarchives.gov.uk"
                        }, {
                          "guid" : "de799ae7-7ae5-5efd-88b9-ac36532a8bde",
                          "name" : "x-fmt/265",
                          "namespace" : "http://www.nationalarchives.gov.uk"
                        }, {
                          "guid" : "3d063d8a-4a5a-584c-858f-e476436153bf",
                          "name" : "x-fmt/266",
                          "namespace" : "http://www.nationalarchives.gov.uk"
                        }, {
                          "guid" : "010115c8-2844-54d8-a61b-88b89b8694a4",
                          "name" : "x-fmt/267",
                          "namespace" : "http://www.nationalarchives.gov.uk"
                        }, {
                          "guid" : "c0b77a9d-919b-5657-9e98-186fc81d2348",
                          "name" : "x-fmt/268",
                          "namespace" : "http://www.nationalarchives.gov.uk"
                        }, {
                          "guid" : "76d983f6-1aef-5cc2-941c-32778c3dd241",
                          "name" : "x-fmt/412",
                          "namespace" : "http://www.nationalarchives.gov.uk"
                        } ]
                      } ]
                    }
      x-openapi-router-controller: swagger_server.controllers.format_families_controller
    post:
      tags:
      - /format-families
      summary: Create Format Family
      description: Creates a new Format Family and returns the family as created.
      operationId: format_families_post
      parameters:
      - name: Authorization
        in: header
        description: HTTP Basic Auth header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/FormatFamily'
      responses:
        "201":
          description: Success
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/FormatFamily'
              examples:
                response:
                  value: |-
                    {
                      "id" : {
                        "guid" : "92a903da-be38-5c0c-97f4-c6aff4c98abf",
                        "name" : "ooxmltypes",
                        "namespace" : "http://par.preservica.com"
                      },
                      "familyType" : "Open Office XML Formats",
                      "fileFormats" : [ {
                        "guid" : "0d0e98d7-f5a4-5002-b3ea-e21c0fa2f06a",
                        "name" : "fmt/214",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "30a7b22d-d71a-5bf7-b43a-490579e1d347",
                        "name" : "fmt/412",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "bf17f1cd-ecca-5e56-9a8a-7b20da94fa45",
                        "name" : "fmt/215",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "3b519ec6-c528-54d4-9702-67e09c76cebe",
                        "name" : "fmt/599",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "d026a4dd-ddc2-57e1-9503-2c5d62095827",
                        "name" : "fmt/629",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      } ]
                    }
        "401":
          description: If no Authorization header has been supplied
        "403":
          description: If the supplied Authorization header does not reference a user
            with write access to this registry.
      x-openapi-router-controller: swagger_server.controllers.format_families_controller
  /format-families/{guid}:
    get:
      tags:
      - /format-families
      summary: Get a Format Family
      description: Returns the Format Family specified by the GUID of the PAR Identifier
      operationId: format_families_guid_get
      parameters:
      - name: guid
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/FormatFamily'
              examples:
                response:
                  value: |-
                    {
                      "id" : {
                        "guid" : "92a903da-be38-5c0c-97f4-c6aff4c98abf",
                        "name" : "ooxmltypes",
                        "namespace" : "http://par.preservica.com"
                      },
                      "familyType" : "Open Office XML Formats",
                      "fileFormats" : [ {
                        "guid" : "0d0e98d7-f5a4-5002-b3ea-e21c0fa2f06a",
                        "name" : "fmt/214",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "30a7b22d-d71a-5bf7-b43a-490579e1d347",
                        "name" : "fmt/412",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "bf17f1cd-ecca-5e56-9a8a-7b20da94fa45",
                        "name" : "fmt/215",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "3b519ec6-c528-54d4-9702-67e09c76cebe",
                        "name" : "fmt/599",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "d026a4dd-ddc2-57e1-9503-2c5d62095827",
                        "name" : "fmt/629",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      } ]
                    }
        "404":
          description: If the specified guid does not reference a Format Family known
            to this registry.
      x-openapi-router-controller: swagger_server.controllers.format_families_controller
    put:
      tags:
      - /format-families
      summary: Update Format Family
      description: Updates the Format Family specified by the GUID of the PAR Identifier
        and returns the family as updated.
      operationId: format_families_guid_put
      parameters:
      - name: guid
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: HTTP Basic Auth header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/FormatFamily'
      responses:
        "201":
          description: Success
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/FormatFamily'
              examples:
                response:
                  value: |-
                    {
                      "id" : {
                        "guid" : "92a903da-be38-5c0c-97f4-c6aff4c98abf",
                        "name" : "ooxmltypes",
                        "namespace" : "http://par.preservica.com"
                      },
                      "familyType" : "Open Office XML Formats",
                      "fileFormats" : [ {
                        "guid" : "0d0e98d7-f5a4-5002-b3ea-e21c0fa2f06a",
                        "name" : "fmt/214",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "30a7b22d-d71a-5bf7-b43a-490579e1d347",
                        "name" : "fmt/412",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "bf17f1cd-ecca-5e56-9a8a-7b20da94fa45",
                        "name" : "fmt/215",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "3b519ec6-c528-54d4-9702-67e09c76cebe",
                        "name" : "fmt/599",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      }, {
                        "guid" : "d026a4dd-ddc2-57e1-9503-2c5d62095827",
                        "name" : "fmt/629",
                        "namespace" : "http://www.nationalarchives.gov.uk"
                      } ]
                    }
        "401":
          description: If no Authorization header has been supplied.
        "403":
          description: If the supplied Authorization header does not reference a user
            with write access to this registry.
      x-openapi-router-controller: swagger_server.controllers.format_families_controller
    delete:
      tags:
      - /format-families
      summary: Delete Format Family
      description: Deletes the Format Family specified by the GUID of the PAR Identifier
      operationId: format_families_guid_delete
      parameters:
      - name: guid
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: HTTP Basic Auth header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Format Family successfully deleted.
        "401":
          description: If no Authorization header has been supplied.
        "403":
          description: If the supplied Authorization header does not reference a user
            with write access to this registry.
[...]
